openapi: 3.2.0
info:
  title: First American Financial Get Response API
  version: '1.0'
  description: 'Operations tagged Get Response across 8 of this provider''s published API definitions: first-american-financial-bankruptcy-openapi.json, first-american-financial-income-estimate-openapi.json, first-american-financial-liens-judgments-fcra-openapi.json, first-american-financial-liens-judgments-non-fcra-openapi.json, first-american-financial-property-openapi.json, first-american-financial-reverse-address-openapi.json, first-american-financial-scra-openapi.json…'
servers:
- url: https://api-w2.firstam.io/v1
- url: https://api.firstam.io/v1
- url: https://api.dgw.firstam.io/v2
tags:
- name: Get Response
paths:
  /bankruptcy/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing bankruptcy report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        description: Unique identifier tied to a report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankruptcyServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/BankruptcyServiceResponse'
        '400':
          description: Bad Request (missing/invalid transactionID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (no report found by transactionID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    servers:
    - url: https://api-w2.firstam.io/v1
  /salarycomp/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing Income Estimate report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report.
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        description: Unique Identifier Tied To a Report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '400':
          description: Bad Request (Missing/Invalid TransactionID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No Report Found by TransactionID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    servers:
    - url: https://api.firstam.io/v1
  /lnj-fcra/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing FCRA report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        description: Unique identifier tied to a report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiensJudgmentsFCRAServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/LiensJudgmentsFCRAServiceResponse'
        '400':
          description: Bad Request (missing/invalid transactionID)
        '404':
          description: Not Found (no response found by transactionID)
        '500':
          description: Internal Server Error
    servers:
    - url: https://api.firstam.io/v1
  /lnj/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiensJudgmentsServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/LiensJudgmentsServiceResponse'
        '400':
          description: Bad Request (missing/invalid transactionID)
        '404':
          description: Not Found (no response found by transactionID)
        '500':
          description: Internal Server Error
    servers:
    - url: https://api.dgw.firstam.io/v2
  /property/report:
    get:
      tags:
      - Get Response
      summary: Retrieve by Transaction ID
      operationId: retrieveProperty
      description: Add a transactionID to the query string to retrieve an existing report
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - in: query
        name: TransactionID
        description: Transaction ID number provided
        required: true
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyOverviewResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PropertyOverviewResponse'
        '400':
          description: Invalid Request, Object Invalid
        '404':
          description: No Data Found
    servers:
    - url: https://api.firstam.io/v1
  /fema/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing FEMA report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        description: Unique identifier tied to a report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FEMAServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/FEMAServiceResponse'
        '400':
          description: Bad Request (missing/invalid transactionID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (no report found by transactionID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    servers:
    - url: https://api.firstam.io/v1
  /revaddress/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing ReverseAddress report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report.
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        description: Unique Identifier Tied To a Report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse_2'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponse_2'
        '400':
          description: Bad Request (Missing/Invalid TransactionID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No Report Found by TransactionID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    servers:
    - url: https://api-w2.firstam.io/v1
  /scra/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing SCRA report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report.
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        description: Unique Identifier Tied To a Report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse_3'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponse_3'
        '400':
          description: Bad Request (Missing/Invalid TransactionID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No Report Found by TransactionID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    servers:
    - url: https://api.firstam.io/v1
  /watchlist/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing watchlist report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report.
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: transactionID
        in: query
        description: Unique Identifier Tied To a Report
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponseFull'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponseFull'
        '400':
          description: Bad Request (Missing/Invalid TransactionID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No Report Found by TransactionID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    servers:
    - url: https://api-w2.firstam.io/v1
components:
  schemas:
    Address:
      type: object
      properties:
        StreetAddress1:
          type: string
          example: 123 Main St
        City:
          type: string
          example: Agoura Hills
        State:
          type: string
          example: CA
        ZipCode:
          type: string
          example: '91301'
    BankruptcyRecord:
      properties:
        ActionType:
          type: string
        AliasType:
          type: string
        AssociationCode:
          type: string
        AssetsIndicator:
          type: string
        Attorney:
          $ref: '#/components/schemas/Person'
        CaseNumber:
          type: string
        CaseNumberOther:
          type: string
        CaseNumberUnique:
          type: string
        CaseType:
          type: string
        ClosedDate:
          $ref: '#/components/schemas/ParsedDate'
        CourtId:
          type: string
        CourtName:
          type: string
        CourtLocation:
          type: string
        CurrentChapter:
          type: string
        Defendant:
          $ref: '#/components/schemas/Person'
        DefinitionType:
          type: string
        DischargeDate:
          $ref: '#/components/schemas/ParsedDate'
        FilingDate:
          $ref: '#/components/schemas/ParsedDate'
        OriginalFilingDate:
          $ref: '#/components/schemas/ParsedDate'
        FilingType:
          type: string
        FilerType:
          type: string
        IsBankruptcyValid:
          type: string
        JudgeInitials:
          type: string
        MeetingDate:
          $ref: '#/components/schemas/ParsedDate'
        MeetingTime:
          type: string
        OriginalChapter:
          type: string
        POCDate:
          $ref: '#/components/schemas/ParsedDate'
        PreviousChapter:
          type: string
        RecordDate:
          $ref: '#/components/schemas/ParsedDate'
        RMSId:
          type: string
        Trustee:
          $ref: '#/components/schemas/Person'
        UpdatedDate:
          $ref: '#/components/schemas/ParsedDate'
        AssetsForUnsecured:
          type: string
        Assets:
          type: string
        JudgeName:
          type: string
        Liabilities:
          type: string
        ReOpenDate:
          $ref: '#/components/schemas/ParsedDate'
    Person:
      type: object
      properties:
        Name:
          $ref: '#/components/schemas/Name'
        Address:
          $ref: '#/components/schemas/Address'
        SSN:
          type: string
        PhoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
    BankruptcyServiceResponse:
      type: object
      properties:
        TransactionID:
          type: string
          description: Unique identifier for the transaction
        RequestorID:
          type: string
        Result:
          type: string
          enum:
          - NoRecordsFound
          - RecordsFound
        Records:
          type: array
          items:
            $ref: '#/components/schemas/BankruptcyRecord'
        Alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertType'
      example:
        TransactionID: a85226ad-4c3b-4e1f-9423-0d55a283fb33
        RequestorID: Mock001
        Result: RecordsFound
        Records:
        - ActionType: '23'
          AliasType: I
          AssociationCode: '2'
          AssetsIndicator: N
          Attorney:
            Name:
              Full: JOHN C ATTORNEY
            Address:
              StreetAddress1: PO BOX 7007
              City: LOS ANGELES
              State: CA
              ZipCode: '90001'
              FullAddress: PO BOX 7007 LOS ANGELES, CA 90001
            PhoneNumbers:
            - PhoneType: Work
              PhoneNumber: '2099569698'
          CaseNumber: '1230328'
          CaseNumberOther: '12030328'
          CaseNumberUnique: BB05678686786
          CaseType: V
          ClosedDate:
            Year: 2012
            Month: 10
            Day: 5
          CourtId: CAEASF3
          CurrentChapter: '7'
          Defendant:
            Name:
              Full: JOHN,DEFENDANT W
              Suffix: Jr
            Address:
              StreetAddress1: 123 MAIN ST
              City: LOS ANGELES
              State: CA
              ZipCode: '91301'
              FullAddress: 123 MAIN ST LOS ANGELES, CA 91301
            SSN: 000000493
          DefinitionType: I
          DischargeDate:
            Year: 2015
            Month: 5
            Day: 30
          FilingDate:
            Year: 2012
            Month: 5
            Day: 30
          FilingType: '7'
          IsBankruptcyValid: true
          JudgeInitials: RSB
          MeetingDate:
            Year: 2012
            Month: 12
            Day: 31
          MeetingTime: unknown
          OriginalChapter: '7'
          POCDate:
            Year: 2012
            Month: 12
            Day: 31
          PreviousChapter: n/a
          RecordDate:
            Year: 2012
            Month: 5
            Day: 30
          RMSId: AA68945252
          Trustee:
            Name:
              Full: JOHN C ATTORNEY ATT AT LAW
          UpdatedDate:
            Year: 2014
            Month: 10
            Day: 9
        Alerts:
        - Code: Alert1
          Description: ALERT - This is an alert description.
          Status: Fired
          Evidence:
          - Key: Value
    AlertType:
      type: object
      properties:
        Code:
          example: AlertCode
          type: string
        Description:
          example: ALERT - This is an alert description.
          type: string
        Status:
          example: Fired
          type: string
        Evidence:
          description: Collection of evidence fields that caused the alert to fire.
          type: array
          items:
            $ref: '#/components/schemas/EvidenceType'
    EvidenceType:
      type: object
      example:
        Key: Value
    Name:
      type: object
      properties:
        Full:
          type: string
        First:
          type: string
        Middle:
          type: string
        LastOrCompanyName:
          type: string
        Suffix:
          type: string
    PhoneNumber:
      type: object
      properties:
        PhoneType:
          type: string
        PhoneNumber:
          type: string
    ParsedDate:
      properties:
        Year:
          type: number
        Month:
          type: number
        Day:
          type: number
    Result:
      type: object
      properties:
        MatchingJobs:
          description: 'Jobs Matching  '
          type: array
          items:
            type: string
        OverstatedCompScore:
          type: integer
          description: 'OverstatedCompScore '
        TargetCompensation:
          type: integer
          description: 'TargetCompensation  '
        Percentile25:
          type: integer
          description: 'Percentile25 '
        Median:
          type: integer
          description: 'Median '
        Percentile75:
          type: integer
          description: 'Percentile75  '
    ServiceResponse:
      type: object
      properties:
        TransactionID:
          type: string
        RequestorID:
          type: string
        Error:
          type: string
        Result:
          $ref: '#/components/schemas/Result'
    Judgment:
      properties:
        Seq:
          type: string
          example: '1'
        DateFiled:
          $ref: '#/components/schemas/ParsedDate_2'
        JudgmentType:
          type: string
          example: Civil Judgment
        Amount:
          type: string
          example: '5000'
        ReleaseDate:
          $ref: '#/components/schemas/ParsedDate_2'
        FilingDescription:
          type: string
          example: Released
        DateLastSeen:
          $ref: '#/components/schemas/ParsedDate_2'
        Defendant:
          type: string
          example: John Doe
        Plaintiff:
          type: string
          example: ABC Corp
        FilingNumber:
          type: string
          example: 99DJ1687715
        FilingBook:
          type: string
          example: '7688'
        FilingPage:
          type: string
          example: '9789'
        Eviction:
          type: string
          example: N
        Agency:
          type: string
          example: CALIFORNIA SUPERIOR COURT
        AgencyCounty:
          type: string
          example: VENTURA
        AgencyState:
          type: string
          example: CA
      example:
        FilingBook: '7688'
        FilingPage: '9789'
        FilingNumber: 99DJ1687715
        Amount: '5000'
        Plaintiff: ABC Corp
        JudgmentType: Civil Judgment
        Agency: CALIFORNIA SUPERIOR COURT
        ReleaseDate:
          Month: 1
          Year: 2017
          Day: 1
        AgencyCounty: VENTURA
        AgencyState: CA
        DateLastSeen:
          Month: 1
          Year: 2017
          Day: 1
        FilingDescription: Released
        Eviction: N
        Defendant: John Doe
        Seq: '1'
        DateFiled:
          Month: 1
          Year: 2017
          Day: 1
    LiensJudgmentsFCRAServiceResponse:
      type: object
      required:
      - RequestorID
      - TransactionID
      - Result
      properties:
        TransactionID:
          type: string
          example: d49c3068-eaad-4f13-88f5-9cd94e65f516
          description: Unique identifier for the transaction
        RequestorID:
          type: string
          example: '1234567'
        Result:
          type: string
          example: ResultsFound
          enum:
          - SubjectNotFound
          - NoRecordsFound
          - RecordsFound
        Liens:
          type: array
          items:
            $ref: '#/components/schemas/Lien'
        Judgments:
          type: array
          items:
            $ref: '#/components/schemas/Judgment'
        LnJAttributes:
          type: array
          items:
            $ref: '#/components/schemas/LnJAttribute'
      example:
        TransactionID: d49c3068-eaad-4f13-88f5-9cd94e65f516
        RequestorID: '1234567'
        Result: RecordsFound
        Liens:
        - FilingBook: '678'
          FilingPage: '97989'
          FilingNumber: 99DJ1687715
          Amount: '5000'
          Agency: CALIFORNIA SUPERIOR COURT
          ReleaseDate:
            month: 1
            year: 2017
            day: 1
          LienType: State Tax Lien
          AgencyCounty: VENTURA
          AgencyState: CA
          Seq: '1'
          DateFiled:
            Month: 1
            Year: 2017
            Day: 1
          DateLastSeen:
            Month: 1
            Year: 2017
            Day: 1
        - FilingBook: '678'
          FilingPage: '97989'
          FilingNumber: 99DJ1687715
          Amount: '5000'
          Agency: CALIFORNIA SUPERIOR COURT
          ReleaseDate:
            Month: 1
            Year: 2017
            Day: 1
          LienFilingType: State Tax Lien
          AgencyCounty: VENTURA
          AgencyState: CA
          Seq: '1'
          DateFiled:
            Month: 1
            Year: 2017
            Day: 1
          DateLastSeen:
            Month: 1
            Year: 2017
            Day: 1
        Judgments:
        - FilingBook: '7688'
          FilingPage: '9789'
          FilingNumber: 99DJ1687715
          Amount: '5000'
          Plaintiff: ABC Corp
          JudgmentType: Civil Judgment
          Agency: CALIFORNIA SUPERIOR COURT
          ReleaseDate:
            Month: 1
            Year: 2017
            Day: 1
          AgencyCounty: VENTURA
          AgencyState: CA
          DateLastSeen:
            Month: 1
            Year: 2017
            Day: 1
          FilingDescription: Released
          Eviction: N
          Defendant: John Doe
          Seq: '1'
          DateFiled:
            Month: 1
            Year: 2017
            Day: 1
        - FilingBook: '7688'
          FilingPage: '9789'
          FilingNumber: 99DJ1687715
          Amount: '5000'
          Plaintiff: ABC Corp
          JudgmentType: Civil Judgment
          Agency: CALIFORNIA SUPERIOR COURT
          ReleaseDate:
            Month: 1
            Year: 2017
            Day: 1
          AgencyCounty: VENTURA
          AgencyState: CA
          DateLastSeen:
            Month: 1
            Year: 2017
            Day: 1
          FilingDescription: Released
          Eviction: N
          Defendant: John Doe
          Seq: '1'
          DateFiled:
            Month: 1
            Year: 2017
            Day: 1
        LnJAttributes:
        - Name: LnJLienTaxCount
          Value: '1'
        - Name: LnJLienTaxCount
          Value: '1'
    LnJAttribute:
      properties:
        Name:
          type: string
          example: LnJLienTaxCount
        Value:
          type: string
          example: '1'
      example:
        Name: LnJLienTaxCount
        Value: '1'
    ParsedDate_2:
      properties:
        Year:
          type: number
          example: 2017
        Month:
          type: number
          example: 1
        Day:
          type: number
          example: 1
      example:
        Month: 1
        Year: 2017
        Day: 1
    Lien:
      properties:
        Seq:
          type: string
          example: '1'
        DateFiled:
          $ref: '#/components/schemas/ParsedDate_2'
        LienFilingType:
          type: string
          example: State Tax Lien
        Amount:
          type: string
          example: '5000'
        ReleaseDate:
          $ref: '#/components/schemas/ParsedDate_2'
        DateLastSeen:
          $ref: '#/components/schemas/ParsedDate_2'
        FilingNumber:
          type: string
          example: 99DJ1687715
        FilingBook:
          type: string
          example: '678'
        FilingPage:
          type: string
          example: '97989'
        Agency:
          type: string
          example: CALIFORNIA SUPERIOR COURT
        AgencyCounty:
          type: string
          example: VENTURA
        AgencyState:
          type: string
          example: CA
      example:
        FilingBook: '678'
        FilingPage: '97989'
        FilingNumber: 99DJ1687715
        Amount: '5000'
        Agency: CALIFORNIA SUPERIOR COURT
        ReleaseDate:
          Month: 1
          Year: 2017
          Day: 1
        LienFilingType: State Tax Lien
        AgencyCounty: VENTURA
        AgencyState: CA
        Seq: '1'
        DateFiled:
          Month: 1
          Year: 2017
          Day: 1
        DateLastSeen:
          Month: 1
          Year: 2017
          Day: 1
    Address_2:
      type: object
      properties:
        StreetNumber:
          type: string
          example: '123'
        StreetPreDirection:
          type: string
          example: S
        StreetName:
          type: string
          example: Main
        StreetSuffix:
          type: string
          example: St
        StreetPostDirection:
          type: string
          example: E
        UnitDesignation:
          type: string
          example: APT
        UnitNumber:
          type: string
          example: '110'
        StreetAddress1:
          type: string
          example: 123 Main St
        StreetAddress2:
          type: string
          example: Apt 504
        City:
          type: string
          example: Agoura Hills
        State:
          type: string
          example: CA
        ZipCode:
          type: string
          example: '91301'
        ZipFour:
          type: string
          example: '1212'
        County:
          type: string
          example: Los Angeles
      example:
        StreetNumber: '123'
        City: Agoura Hills
        StreetPostDirection: E
        StreetAddress1: 123 Main St
        County: Los Angeles
        UnitNumber: '110'
        StreetAddress2: Apt 504
        ZipFour: '1212'
        ZipCode: '91301'
        StreetPreDirection: S
        StreetName: Main
        UnitDesignation: APT
        StreetSuffix: St
        State: CA
    LiensJudgmentsServiceResponse:
      type: object
      required:
      - RequestorID
      - TransactionID
      - Result
      properties:
        TransactionID:
          type: string
          example: d49c3068-eaad-4f13-88f5-9cd94e65f516
          description: Unique identifier for the transaction
        RequestorID:
          type: string
          example: '1234567'
        Result:
          type: string
          example: ResultsFound
          enum:
          - NoRecordsFound
          - RecordsFound
        Records:
          type: array
          items:
            $ref: '#/components/schemas/Record'
      example:
        RequestorID: '1234567'
        TransactionID: d49c3068-eaad-4f13-88f5-9cd94e65f516
        Result: RecordsFound
        Records:
        - Amount: 0.0
          FilingJurisdictionName: CALIFORNIA
          MultipleDefendant: false
          Debtors:
          - Name:
              Full: JOE K TEST
              First: JOE
              Middle: K
              Last: TEST
              Prefix: MR
            SSN: 99911xxxx
            Addresses:
            - StreetNumber: '123'
              StreetName: MAIN
              StreetSuffix: AVE
              StreetAddress1: 123 MAIN AVE
              City: LOS ANGELES
              State: CA
              ZipCode: '90001'
              ZipFour: '1234'
              County: OAKLAND
              FullAddress: 123 MAIN AVE LOS ANGELES, CA 90001-1234
          Filings:
          - Number: BK40499PG874
            Type: STATE TAX LIEN
            OriginalFilingDate:
              Year: 2008
              Month: 12
              Day: 9
            Book: '40499'
            Page: '874'
            Agency: OAKLAND COUNTY REGISTER OF DEEDS
            AgencyState: CA
            AgencyCounty: OAKLAND
        - Amount: 2039.0
          FilingJurisdictionName: CALIFORNIA
          MultipleDefendant: false
          Debtors:
          - Name:
              Full: JOE ABC
              First: JOE
              Last: ABC
              Prefix: MR
            SSN: 99911xxxx
            Addresses:
            - StreetNumber: '2598'
              StreetName: BJHJHKL
              StreetSuffix: DR
              StreetAddress1: 2598 BJHJHKL DR
              City: BKHJHKJ
              State: CA
              ZipCode: '38071'
              ZipFour: '2671'
              County: OAKLAND
              FullAddress: 2598 BJHJHKL DR BKHJHKJ, CA 38071-2671
          Filings:
          - Number: BK40554PG505
            Type: FEDERAL TAX LIEN
            OriginalFilingDate:
              Year: 2008
              Month: 5
              Day: 26
            Book: '40554'
            Page: '505'
            Agency: OAKLAND COUNTY REGISTER OF DEEDS
            AgencyState: CA
            AgencyCounty: OAKLAND
        - Amount: 2039.0
          FilingJurisdictionName: CALIFORNIA
          MultipleDefendant: false
          Debtors:
          - Name:
              Full: JOE D ABC
              First: JOE
              Middle: D
              Last: ABC
              Prefix: MR
            SSN: 99911xxxx
            Addresses:
            - StreetNumber: '2598'
              StreetName: GJVBJHGJH
              StreetSuffix: DR
              StreetAddress1: 2598 GJVBJHGJH DR
              City: BJKGFFFGH
              State: CA
              ZipCode: '38071'
              ZipFour: '2671'
              County: OAKLAND
              FullAddress: 2598 GJVBJHGJH DR BJKGFFFGH, CA 38071-2671
          Filings:
          - Number: BK40554PG506
            Type: FEDERAL TAX LIEN
            OriginalFilingDate:
              Year: 2008
              Month: 5
              Day: 26
            Book: '40554'
            Page: '506'
            Agency: OAKLAND COUNTY REGISTER OF DEEDS
            AgencyState: CA
            AgencyCounty: OAKLAND
        - Amount: 19249.0
          FilingJurisdictionName: CALIFORNIA
          MultipleDefendant: false
          Debtors:
          - Name:
              Full: JOE K TEST
              First: JOE
              Middle: K
              Last: TEST
              Prefix: MR
            SSN: 99911xxxx
            Addresses:
            - StreetNumber: '123'
              StreetName: MAIN
              StreetSuffix: AVE
              StreetAddress1: 123 MAIN AVE
              City: LOS ANGELES
              State: CA
              ZipCode: '90001'
              ZipFour: '1234'
              County: OAKLAND
              FullAddress: 123 MAIN AVE LOS ANGELES, CA 90001-1234
          Filings:
          - Type: FEDERAL TAX LIEN
            OriginalFilingDate:
              Year: 2008
              Month: 2
              Day: 12
            Book: '40335'
            Page: '494'
            Agency: OAKLAND COUNTY REGISTER OF DEEDS
            AgencyState: CA
            AgencyCounty: OAKLAND
        - Amount: 6190.0
          FilingJurisdictionName: CALIFORNIA
          CertificateNumber: '298070606'
          MultipleDefendant: false
          ReleaseDate:
            Year: 2008
            Month: 8
            Day: 7
          Debtors:
          - Name:
              Full: JOE K TEST
              First: JOE
              Middle: K
              Last: TEST
              Prefix: MR
            SSN: 99911xxxx
            Addresses:
            - StreetNumber: '123'
              StreetName: MAIN
              StreetSuffix: AVE
              StreetAddress1: 123 MAIN AVE
              City: LOS ANGELES
              State: CA
              ZipCode: '90001'
              ZipFour: '1234'
              County: OAKLAND
              FullAddress: 123 MAIN AVE LOS ANGELES, CA 90001-1234
          Filings:
          - Number: BK40695PG534
            Type: FEDERAL TAX LIEN RELEASE
            OriginalFilingDate:
              Year: 2006
              Month: 7
              Day: 5
            Book: '40695'
            Page: '534'
            AgencyState: CA
        - Amount: 6190.0
          FilingJurisdictionName: CALIFORNIA
          MultipleDefendant: false
          Debtors:
          - Name:
              Full: JOE K TEST
              First: JOE
              Middle: K
              Last: TEST
              Prefix: MR
            SSN: 99911xxxx
            Addresses:
            - StreetNumber: '123'
              StreetName: MAIN
              StreetSuffix: AVE
              StreetAddress1: 123 MAIN AVE
              City: LOS ANGELES
              State: CA
              ZipCode: '90001'
              ZipFour: '1234'
              County: OAKLAND
              FullAddress: 123 MAIN AVE LOS ANGELES, CA 90001-1234
          Filings:
          - Type: FEDERAL TAX LIEN
            OriginalFilingDate:
              Year: 2006
              Month: 7
              Day: 5
            Book: '37773'
            Page: '453'
            Agency: OAKLAND COUNTY REGISTER OF DEEDS
            AgencyState: CA
            AgencyCounty: OAKLAND
        - Amount: 21544.0
          FilingJurisdictionName: CALIFORNIA
          MultipleDefendant: false
          Debtors:
          - Name:
              Full: JOE ABC
              First: JOE
              Last: ABC
              Prefix: MR
            SSN: 99911xxxx
            Addresses:
            - StreetNumber: '809'
              StreetName: PAULA
              StreetSuffix: ST
              StreetAddress1: 809 PAULA ST
              City: GAGLEPARK
              State: CA
              ZipCode: '96939'
              ZipFour: '4114'
              County: OAKLAND
              FullAddress: 809 PAULA ST GAGLEPARK, CA 96939-4114
          Filings:
          - Number: '343833'
            Type: STATE TAX LIEN RELEASE
            OriginalFilingDate:
              Year: 1999
              Month: 11
              Day: 22
            Book: '43855'
            Page: '764'
            Agency: OAKLAND COUNTY REGISTER OF DEEDS
            AgencyState: CA
            AgencyCounty: OAKLAND
    Company:
      type: object
      properties:
        Name:
          type: string
          example: ABC Company
        Address:
          $ref: '#/components/schemas/Address_2'
        FEIN:
          type: string
          example: '999999990'
      example:
        Address:
          StreetNumber: '123'
          City: Agoura Hills
          StreetPostDirection: E
          StreetAddress1: 123 Main St
          County: Los Angeles
          UnitNumber: '110'
          StreetAddress2: Apt 504
          ZipFour: '1212'
          ZipCode: '91301'
          StreetPreDirection: S
          StreetName: Main
          UnitDesignation: APT
          StreetSuffix: St
          State: CA
        Name: ABC Company
        FEIN: '999999990'
    Filing:
      properties:
        Number:
          type: string
          example: BK131312
        Type:
          type: string
          example: FEDERAL TAX LIEN
        Date:
          $ref: '#/components/schemas/ParsedDate_3'
        OriginalFilingDate:
          $ref: '#/components/schemas/ParsedDate_3'
        Book:
          type: string
          example: '567657'
        Page:
          type: string
          example: '43545'
        Agency:
          type: string
          example: REGISTER OF DEEDS
        AgencyCity:
          type: string
          example: LOS ANGELES
        AgencyState:
          type: string
          example: CA
        AgencyCounty:
          type: string
          example: LOS ANGELES
        Status:
          type: string
          example: In Progress
        Description:
          type: string
          example: This is a description.
        Time:
          type: string
          example: 01082008
      example:
        Date:
          Month: 1
          Year: 2017
          Day: 1
        Agency: REGISTER OF DEEDS
        Book: '567657'
        AgencyCity: LOS ANGELES
        type: FEDERAL TAX LIEN
        AgencyState: CA
        AgencyCounty: LOS ANGELES
        FilingTime: 01082008
        Number: BK131312
        Status: In Progress
        Description: This is a description.
        OriginalFilingDate:
          Month: 1
          Year: 2017
          Day: 1
        Page: '43545'
    Record:
      properties:
        Amount:
          type: number
          example: 0.0
        FilingJurisdictionName:
          type: string
          example: Name
        FilingStatus:
          type: string
          example: Filed
        CertificateNumber:
          type: string
          example: ABC123
        MultipleDefendant:
          type: boolean
        JudgeSatisfiedDate:
          $ref: '#/components/schemas/ParsedDate_3'
        JudgeVacatedDate:
          $ref: '#/components/schemas/ParsedDate_3'
        ReleaseDate:
          $ref: '#/components/schemas/ParsedDate_3'
        Debtors:
          type: array
          items:
            $ref: '#/components/schemas/Party'
        Creditors:
          type: array
          items:
            $ref: '#/components/schemas/Party'
        Filings:
          type: array
          items:
            $ref: '#/components/schemas/Filing'
      example:
        Amount: 0.0
        FilingJurisdictionName: CALIFORNIA
        MultipleDefendant: false
        Debtors:
        - Name:
            Full: JOE K TEST
            First: JOE
            Middle: K
            Last: TEST
            Prefix: MR
          SSN: 99911xxxx
          Addresses:
          - StreetNumber: '123'
            StreetName: MAIN
            StreetSuffix: AVE
            StreetAddress1: 123 MAIN AVE
            City: LOS ANGELES
            State: CA
            ZipCode: '90001'
            ZipFour: '1234'
            County: OAKLAND
            FullAddress: 123 MAIN AVE LOS ANGELES, CA 90001-1234
        Filings:
        - Number: BK40499PG874
          Type: STATE TAX LIEN
          OriginalFilingDate:
            Year: 2008
            Month: 12
            Day: 9
          Book: '40499'
          Page: '874'
          Agency: OAKLAND COUNTY REGISTER OF DEEDS
          AgencyState: CA
          AgencyCounty: OAKLAND
    PhoneTimeZone:
      properties:
        Phone10:
          type: string
          example: '8058675309'
        Fax:
          type: string
          example: '8055672341'
        TimeZone:
          type: string
          example: PST
      example:
        TimeZone: PST
        Phone10: '8058675309'
        Fax: '8055672341'
    Name_2:
      type: object
      properties:
        Full:
          type: string
          example: John C Doe.
        First:
          type: string
          example: John
        Middle:
          type: string
          example: C
        Last:
          type: string
          example: Doe
        Suffix:
          type: string
          example: Sr.
        Prefix:
          type: string
          example: Mr.
      example:
        Middle: C
        Last: Doe
        Prefix: Mr.
        Suffix: Sr.
        First: John
        Full: John C Doe.
    Party:
      properties:
        Name:
          $ref: '#/components/schemas/Name_2'
        SSN:
          type: string
          example: '999999990'
        Company:
          $ref: '#/components/schemas/Company'
        Addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address_2'
        Phones:
          type: array
          items:
            $ref: '#/components/schemas/PhoneTimeZone'
      example:
        Addresses:
        - StreetNumber: '123'
          City: Agoura Hills
          StreetPostDirection: E
          StreetAddress1: 123 Main St
          County: Los Angeles
          UnitNumber: '110'
          StreetAddress2: Apt 504
          ZipFour: '1212'
          ZipCode: '91301'
          StreetPreDirection: S
          StreetName: Main
          UnitDesignation: APT
          StreetSuffix: St
          State: CA
        Phones:
        - TimeZone: PST
          Phone10: '8058675309'
          Fax: '8055672341'
        Name:
          Full: JOE K TEST
          First: JOE
          Middle: K
          Last: TEST
          Prefix: MR
    ParsedDate_3:
      properties:
        Year:
          type: number
          example: 2017
        Month:
          type: number
          example: 1
        Day:
          type: number
          example: 1
      example:
        Month: 1
        Year: 2017
        Day: 1
    Address_3:
      type: object
      required:
      - StreetAddress1
      - City
      - State
      - Zip5
      properties:
        StreetNumber:
          example: StreetNumber
          type: string
        StreetPreDirection:
          example: StreetPreDirection
          type: string
        StreetName:
          example: StreetName
          type: string
        StreetSuffix:
          example: StreetSuffix
          type: string
        StreetPostDirection:
          example: StreetPostDirection
          type: string
        UnitDesignation:
          example: UnitDesignation
          type: string
        UnitNumber:
          example: UnitNumber
          type: string
        StreetAddress1:
          example: StreetAddress1
          type: string
        StreetAddress2:
          example: StreetAddress2
          type: string
        City:
          example: City
          type: string
        State:
          example: State
          type: string
        ZipCode:
          example: ZipCode
          type: string
        ZipFour:
          example: ZipFour
          type: string
        County:
          example: County
          type: string
        PostalCode:
          example: PostalCode
          type: string
        StateCityZip:
          example: StateCityZip
          type: string
        Latitude:
          example: Latitude
          type: string
        Longitude:
          example: Longitude
          type: string
        APN:
          example: APN
          type: string
    AssesseeContactInformation:
      type: object
      properties:
        AssesseeNames:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        VestingIDCode:
          example: VestingIDCode
          type: string
        VestingIDCodeDesc:
          example: VestingIDCodeDesc
          type: string
        MailCareOfName:
          example: MailCareOfName
          type: string
        MailCareOfEntityTypeCode:
          example: MailCareOfEntityTypeCode
          type: string
        MailCareOfEntityTypeCodeDesc:
          example: MailCareOfEntityTypeCodeDesc
          type: string
        AssesseeMailingAddress:
          $ref: '#/components/schemas/Address_3'
        OwnershipCurrencyDate:
          example: OwnershipCurrencyDate
          type: string
        AssessorTapeCutDate:
          example: AssessorTapeCutDate
          type: string
    LoanTransactionHistory:
      type: array
      items:
        $ref: '#/components/schemas/LoanTransaction'
    HOAServiceResponseDefinition:
      properties:
        TransactionID:
          example: 82d9762b-70c3-4801-bd4b-8ffc8d358f77
          type: string
          description: TransactionID can be used to fetch data at later stage.
        RequestorID:
          example: RequestorID
          type: string
          minLength: 1
          maxLength: 100
          description: LoanNumber or TransactionID
        HoaInfo:
          $ref: '#/components/schemas/HoaInfoDefinition'
    ListingHistoryDefinition:
      type: object
      properties:
        ListingID:
          example: ListingID
          type: string
        ListingDate:
          example: ListingDate
          type: string
        Status:
          example: Status
          type: string
        Price:
          example: Price
          type: string
        SoldPrice:
          example: SoldPrice
          type: string
        SoldDate:
          example: SoldDate
          type: string
        PricePerSqFt:
          example: PricePerSqFt
          type: string
        ResidenceType:
          example: ResidenceType
          type: string
        PropertySubType:
          example: PropertySubType
          type: string
        Beds:
          example: Beds
          type: string
        Baths:
          example: Baths
          type: string
        ResidenceSqFt:
          example: ResidenceSqFt
          type: string
        LotSqFt:
          example: LotSqFt
          type: string
        LotFeatures:
          example: LotFeatures
          type: string
        YearBuilt:
          example: YearBuilt
          type: string
        DaysOnMarket:
          example: DaysOnMarket
          type: string
        Address:
          $ref: '#/components/schemas/Address_3'
        Latitude:
          example: Latitude
          type: string
        Longitude:
          example: Longitude
          type: string
        APN:
          example: APN
          type: string
        Style:
          example: Style
          type: string
        NumberOfStories:
          example: NumberOfStories
          type: string
        SchoolDistrict:
          example: SchoolDistrict
          type: string
        ElementarySchool:
          example: ElementarySchool
          type: string
        MiddleSchool:
          example: MiddleSchool
          type: string
        HighSchool:
          example: HighSchool
          type: string
        FireplaceFeatures:
          example: FireplaceFeatures
          type: string
        HeatingFeatures:
          example: HeatingFeatures
          type: string
        Roofing:
          example: Roofing
          type: string
        Topography:
          example: Topography
          type: string
        Subdivision:
          example: Subdivision
          type: string
        ParkingFeatures:
          example: ParkingFeatures
          type: string
        PoolFeatures:
          example: PoolFeatures
          type: string
        WaterFrontFeatures:
          example: WaterFrontFeatures
          type: string
        AirConditioners:
          example: AirConditioners
          type: string
        View:
          example: View
          type: string
        Appliances:
          example: Appliances
          type: string
        Water:
          example: Water
          type: string
        WaterAccess:
          example: WaterAccess
          type: string
        MD_CensusTract:
          example: MD_CensusTract
          type: string
        IsCurrent:
          example: IsCurrent
          type: string
        Distance:
          example: Distance
          type: string
        PricePerSqft:
          example: PricePerSqft
          type: string
    PropertyOverviewResponse:
      properties:
        TransactionID:
          example: 82d9762b-70c3-4801-bd4b-8ffc8d358f77
          type: string
          description: TransactionID can be used to fetch data at later stage.
        RequestorID:
          example: RequestorID
          type: string
          minLength: 1
          maxLength: 100
          description: LoanNumber or TransactionID
        PropertyDataResponse:
          $ref: '#/components/schemas/PropertyOverviewResponseDefinition'
        ListingResponse:
          $ref: '#/components/schemas/ListingDataDefinition'
        HOAServiceResponse:
          $ref: '#/components/schemas/HOAServiceResponseDefinition'
        FEMAServiceResponse:
          $ref: '#/components/schemas/FEMAServiceResponse'
    FEMAServiceResponse:
      type: object
      properties:
        TransactionID:
          type: string
          description: Unique identifier for the transaction
        RequestorID:
          type: string
        Address:
          $ref: '#/components/schemas/Address_3'
        Result:
          type: string
          enum:
          - NoDisastersFound
          - DisastersFound
        Disasters:
          type: array
          items:
            $ref: '#/components/schemas/FEMADisasterRecord'
        Alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertType'
    PropertyTransactionHistory:
      type: array
      items:
        $ref: '#/components/schemas/Transaction'
    PropertyCharacteristics:
      type: object
      properties:
        LandUseAssessorCode:
          example: LandUseAssessorCode
          type: string
        LandUseAssessorDesc:
          example: LandUseAssessorDesc
          type: string
        LandUseStandardizedCode:
          example: LandUseStandardizedCode
          type: string
        LandUseStandardizedDesc:
          example: LandUseStandardizedDesc
          type: string
        LandUseStateCode:
          example: LandUseStateCode
          type: string
        ZoningAssessorDescription:
          example: ZoningAssessorDescription
          type: string
        TotalRooms:
          example: TotalRooms
          type: string
        Bedrooms:
          example: Bedrooms
          type: string
        BathsHalf:
          example: BathsHalf
          type: string
        BathsPlumbingFixturesCount:
          example: BathsPlumbingFixturesCount
          type: string
        BathsTotalCount:
          example: BathsTotalCount
          type: string
        OtherRooms1Code:
          example: OtherRooms1Code
          type: string
        OtherRooms1Desc:
          example: OtherRooms1Desc
          type: string
        BuildingCount:
          example: BuildingCount
          type: string
        UnitCount:
          example: UnitCount
          type: string
        BuildingArchitecturalStyleCode:
          example: BuildingArchitecturalStyleCode
          type: string
        BuildingArchitecturalStyleDesc:
          example: BuildingArchitecturalStyleDesc
          type: string
        Buildings:
          type: array
          items:
            $ref: '#/components/schemas/Building'
        BuildingAreaTotal:
          example: BuildingAreaTotal
          type: string
        BuildingAreaTotalCode:
          example: BuildingAreaTotalCode
          type: string
        BuildingAreaTotalDesc:
          example: BuildingAreaTotalDesc
          type: string
        BuildingClassCode:
          example: BuildingClassCode
          type: string
        BuildingClassDesc:
          example: BuildingClassDesc
          type: string
        BuildingConditionCode:
          example: BuildingConditionCode
          type: string
        BuildingConditionDesc:
          example: BuildingConditionDesc
          type: string
        BuildingQualityCode:
          example: BuildingQualityCode
          type: string
        OtherImprBuildings:
          type: array
          items:
            $ref: '#/components/schemas/Building'
        LotSizeAcres:
          example: LotSizeAcres
          type: string
        LotSizeFrontageFeet:
          example: LotSizeFrontageFeet
          type: string
        LotSizeDepthFeet:
          example: LotSizeDepthFeet
          type: string
        LotSizeOrArea:
          example: LotSizeOrArea
          type: string
        LotSizeValue:
          example: LotSizeValue
          type: string
        LotSizeUnit:
          example: LotSizeUnit
          type: string
        LotSizeSquareFeet:
          example: LotSizeSquareFeet
          type: string
        ConstructionTypeCode:
          example: ConstructionTypeCode
          type: string
        ConstructionTypeDesc:
          example: ConstructionTypeDesc
          type: string
        FoundationTypeCode:
          example: FoundationTypeCode
          type: string
        FoundationTypeDesc:
          example: FoundationTypeDesc
          type: string
        ExteriorWallTypeCode:
          example: ExteriorWallTypeCode
          type: string
        ExteriorWallTypeDesc:
          example: ExteriorWallTypeDesc
          type: string
        InteriorWallTypeCode:
          example: InteriorWallTypeCode
          type: string
        InteriorWallTypeDesc:
          example: InteriorWallTypeDesc
          type: string
        FloorCoverType1Code:
          example: FloorCoverType1Code
          type: string
        FloorCoverType1Desc:
          example: FloorCoverType1Desc
          type: string
        StoryCountCode:
          example: StoryCountCode
          type: string
        StoryCountDesc:
          example: StoryCountDesc
          type: string
        YearBuilt:
          example: YearBuilt
          type: string
        YearBuiltEffective:
          example: YearBuiltEffective
          type: string
        AirConditioningMethodCode:
          example: AirConditioningMethodCode
          type: string
        AirConditioningMethodDesc:
          example: AirConditioningMethodDesc
          type: string
        AirConditioningTypeCode:
          example: AirConditioningTypeCode
          type: string
        AirConditioningTypeDesc:
          example: AirConditioningTypeDesc
          type: string
        HeatingTypeCode:
          example: HeatingTypeCode
          type: string
        HeatingTypeDesc:
          example: HeatingTypeDesc
          type: string
        HeatingFuelTypeCode:
          example: HeatingFuelTypeCode
          type: string
        HeatingFuelTypeDesc:
          example: HeatingFuelTypeDesc
          type: string
        BasementCode:
          example: BasementCode
          type: string
        BasementDesc:
          example: BasementDesc
          type: string
        Elevator:
          example: Elevator
          type: string
        Fireplace:
          example: Fireplace
          type: string
        PoolTypeCode:
          example: PoolTypeCode
          type: string
        PoolTypeDesc:
          example: PoolTypeDesc
          type: string
        RoofMaterialCode:
          example: RoofMaterialCode
          type: string
        RoofMaterialDesc:
          example: RoofMaterialDesc
          type: string
        RoofStructureTypeCode:
          example: RoofStructureTypeCode
          type: string
        RoofStructureTypeDesc:
          example: RoofStructureTypeDesc
          type: string
        Amenities:
          type: array
          items:
            $ref: '#/components/schemas/Building'
        GarageParkingNumberofCars:
          example: GarageParkingNumberofCars
          type: string
        GarageTypeCode:
          example: GarageTypeCode
          type: string
        GarageTypeDesc:
          example: GarageTypeDesc
          type: string
        RBDI:
          example: RBDI
          type: string
        AssessedTotalValue:
          example: AssessedTotalValue
          type: string
        SewerTypeCode:
          example: SewerTypeCode
          type: string
        SewerTypeDesc:
          example: SewerTypeDesc
          type: string
        TopographyTypeCode:
          example: TopographyTypeCode
          type: string
        TopographyTypeDesc:
          example: TopographyTypeDesc
          type: string
        WaterSourceCode:
          example: WaterSourceCode
          type: string
        WaterSourceDesc:
          example: WaterSourceDesc
          type: string
        SiteInfluence1Code:
          example: SiteInfluence1Code
          type: string
        SiteInfluence1Desc:
          example: SiteInfluence1Desc
          type: string
        ExtraFeatures:
          type: array
          items:
            $ref: '#/components/schemas/Building'
        CondoProjectOrBuildingName:
          example: CondoProjectOrBuildingName
          type: string
        AssessorParcelComments:
          example: AssessorParcelComments
          type: string
    Contact:
      properties:
        ContactType:
          example: ContactType
          type: string
        ContactName:
          example: ContactName
          type: string
        Address:
          $ref: '#/components/schemas/Address_3'
        Phone:
          $ref: '#/components/schemas/Phone'
    EntityInfo:
      type: object
      properties:
        EntityCodeDesc:
          example: EntityCodeDesc
          type: string
        EntityCode:
          example: EntityCode
          type: string
        Name:
          $ref: '#/components/schemas/NameDefinition'
    PropertyLocationData:
      type: object
      properties:
        FIPSStateCountyCode:
          example: FIPSStateCountyCode
          type: string
        RefId:
          example: RefId
          type: string
        County:
          example: County
          type: string
        APN:
          example: APN
          type: string
        OldorAlternateAPN:
          example: OldorAlternateAPN
          type: string
        Address:
          $ref: '#/components/schemas/Address_3'
        AddressStandardized:
          example: AddressStandardized
          type: string
        AddressGeoMatchCode:
          example: AddressGeoMatchCode
          type: string
        AddressGeoMatchCodeDesc:
          example: AddressGeoMatchCodeDesc
          type: string
        CarrierRoute:
          example: CarrierRoute
          type: string
        Latitude:
          example: Latitude
          type: string
        Longitude:
          example: Longitude
          type: string
        CensusTract:
          example: CensusTract
          type: string
        Zoning:
          example: Zoning
          type: string
        LandUse:
          example: LandUse
          type: string
        LandUseDesc:
          example: LandUseDesc
          type: string
        LegalDescription:
          example: LegalDescription
          type: string
        ThomasBrosPage:
          example: ThomasBrosPage
          type: string
        ThomasBrosGrid:
          example: ThomasBrosGrid
          type: string
        TimeShare:
          example: TimeShare
          type: string
    SchoolTaxDistrict:
      type: object
      properties:
        Description:
          example: Description
          type: string
        Code:
          example: Code
          type: string
        Value:
          example: Value
          type: string
    PropertyOverviewResponseDefinition:
      properties:
        StatusCode:
          example: Success
          type: string
        ProductMessage:
          $ref: '#/components/schemas/ProductMessage'
        PropertyLocationData:
          $ref: '#/components/schemas/PropertyLocationData'
        Locations:
          type: array
          items:
            $ref: '#/components/schemas/PropertyLocationData'
        PropertyTaxInformation:
          $ref: '#/components/schemas/PropertyTaxInformation'
        PropertyOwnerInformation:
          $ref: '#/components/schemas/PropertyOwnerInformation'
        AssesseeContactInformation:
          $ref: '#/components/schemas/AssesseeContactInformation'
        PropertyCharacteristics:
          $ref: '#/components/schemas/PropertyCharacteristics'
        AssessorLegal:
          $ref: '#/components/schemas/AssessorLegal'
        PropertyTransactionHistory:
          $ref: '#/components/schemas/PropertyTransactionHistory'
        LoanTransactionHistory:
          $ref: '#/components/schemas/LoanTransactionHistory'
        NearbyComparableSales:
          type: array
          items:
            $ref: '#/components/schemas/ComparableSale'
        AVMInformation:
          $ref: '#/components/schemas/AVMInformation'
        PropertyValueRange:
          $ref: '#/components/schemas/PropertyValueRange'
        ActiveDefault:
          $ref: '#/components/schemas/ActiveDefault'
        ActiveForeclosuresByZip:
          type: array
          items:
            $ref: '#/components/schemas/ActiveForeclosureByZip'
    HoaInfoDefinition:
      properties:
        Name:
          example: Name
          type: string
        HoaType:
          example: Hoatype
          type: string
        City:
          example: City
          type: string
        Amount:
          example: Amount
          type: string
        MinAmount:
          example: MinAmount
          type: string
        MaxAmount:
          example: MaxAmount
          type: string
        FeeFrequency:
          example: FeeFrequency
          type: string
        FeeType:
          example: FeeType
          type: string
        Contacts:
          $ref: '#/components/schemas/Contact'
    ActiveForeclosure:
      type: object
      properties:
        ForeclosureType:
          example: ForeclosureType
          type: string
        Count:
          example: Count
          type: string
    ComparableSale:
      type: object
      properties:
        Distance:
          example: Distance
          type: string
        Latitude:
          example: Latitude
          type: string
        Longitude:
          example: Longitude
          type: string
        APN:
          example: APN
          type: string
        Address:
          $ref: '#/components/schemas/Address_3'
        DocumentNumber:
          example: DocumentNumber
          type: string
        Book:
          example: Book
          type: string
        Page:
          example: Page
          type: string
        DocumentType:
          example: DocumentType
          type: string
        DocumentTypeDesc:
          example: DocumentTypeDesc
          type: string
        ContractDate:
          example: ContractDate
          type: string
        RecordingDate:
          example: RecordingDate
          type: string
        SalesPrice:
          example: SalesPrice
          type: string
        SalesPriceCode:
          example: SalesPriceCode
          type: string
        SalesPriceCodeDesc:
          example: SalesPriceCodeDesc
          type: string
        SalesPriceTypeDesc:
          example: SalesPriceTypeDesc
          type: string
        PricePerSQFT:
          example: PricePerSQFT
          type: string
        LotNumber:
          example: LotNumber
          type: string
        LegalBriefDescription:
          example: LegalBriefDescription
          type: string
        LotCodeDesc:
          example: LotCodeDesc
          type: string
        LegalDistrict:
          example: LegalDistrict
          type: string
        LegalLandLot:
          example: LegalLandLot
          type: string
        Unit:
          example: Unit
          type: string
        LegalCityMuniTownship:
          example: LegalCityMuniTownship
          type: string
        Subdivision:
          example: Subdivision
          type: string
        PhaseNumber:
          example: PhaseNumber
          type: string
        TractNumber:
          example: TractNumber
          type: string
        LegalBlockNumber:
          example: LegalBlockNumber
          type: string
        Section:
          example: Section
          type: string
        MapRef:
          example: MapRef
          type: string
        Buyers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        Sellers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        LandUseAssessorCode:
          example: LandUseAssessorCode
          type: string
        LandUseAssessorDesc:
          example: LandUseAssessorDesc
          type: string
        LandUseStandardizedCode:
          example: LandUseStandardizedCode
          type: string
        LandUseStandardizedDesc:
          example: LandUseStandardizedDesc
          type: string
        LandUseStateDesc:
          example: LandUseStateDesc
          type: string
        ZoningAssessorDescription:
          example: ZoningAssessorDescription
          type: string
        RoomsTotalCount:
          example: RoomsTotalCount
          type: string
        BedroomCount:
          example: BedroomCount
          type: string
        BathsPartialCount:
          example: BathsPartialCount
          type: string
        BathsPlumbingFixturesCount:
          example: BathsPlumbingFixturesCount
          type: string
        BathsTotalCount:
          example: BathsTotalCount
          type: string
        BuildingAreaTotal:
          example: BuildingAreaTotal
          type: string
        LotSizeAcres:
          example: LotSizeAcres
          type: string
        LotSizeOrArea:
          example: LotSizeOrArea
          type: string
        LotSize:
          example: LotSize
          type: string
        LotSizeUnits:
          example: LotSizeUnits
          type: string
        ConstructionTypeCode:
          example: ConstructionTypeCode
          type: string
        ConstructionTypeDesc:
          example: ConstructionTypeDesc
          type: string
        FoundationTypeCode:
          example: FoundationTypeCode
          type: string
        FoundationTypeDesc:
          example: FoundationTypeDesc
          type: string
        ExteriorWallTypeCode:
          example: ExteriorWallTypeCode
          type: string
        ExteriorWallTypeDesc:
          example: ExteriorWallTypeDesc
          type: string
        InteriorWallTypeCode:
          example: InteriorWallTypeCode
          type: string
        InteriorWallTypeDesc:
          example: InteriorWallTypeDesc
          type: string
        FloorCoverTypeCode:
          example: FloorCoverTypeCode
          type: string
        FloorCoverTypeDesc:
          example: FloorCoverTypeDesc
          type: string
        StoryCountCode:
          example: StoryCountCode
          type: string
        StoryCountDesc:
          example: StoryCountDesc
          type: string
        YearBuiltActual:
          example: YearBuiltActual
          type: string
        YearBuiltEffective:
          example: YearBuiltEffective
          type: string
        AirConditioningMethodCode:
          example: AirConditioningMethodCode
          type: string
        AirConditioningMethodDesc:
          example: AirConditioningMethodDesc
          type: string
        AirConditioningTypeCode:
          example: AirConditioningTypeCode
          type: string
        AirConditioningTypeDesc:
          example: AirConditioningTypeDesc
          type: string
        HeatingTypeCode:
          example: HeatingTypeCode
          type: string
        HeatingTypeDesc:
          example: HeatingTypeDesc
          type: string
        HeatingFuelTypeCode:
          example: HeatingFuelTypeCode
          type: string
        HeatingFuelTypeDesc:
          example: HeatingFuelTypeDesc
          type: string
        BasementCode:
          example: BasementCode
          type: string
        BasementDesc:
          example: BasementDesc
          type: string
        Elevator:
          example: Elevator
          type: string
        Fireplace:
          example: Fireplace
          type: string
        PoolTypeCode:
          example: PoolTypeCode
          type: string
        PoolTypeDesc:
          example: PoolTypeDesc
          type: string
        RoofMaterialCode:
          example: RoofMaterialCode
          type: string
        RoofMaterialDesc:
          example: RoofMaterialDesc
          type: string
        RoofStructureTypeCode:
          example: RoofStructureTypeCode
          type: string
        RoofStructureTypeDesc:
          example: RoofStructureTypeDesc
          type: string
        GarageParkingNumberofCars:
          example: GarageParkingNumberofCars
          type: string
        GarageTypeCode:
          example: GarageTypeCode
          type: string
        GarageTypeDesc:
          example: GarageTypeDesc
          type: string
        REOFlag:
          example: REOFlag
          type: string
        TargetDate:
          example: TargetDate
          type: string
        LenderName:
          example: LenderName
          type: string
        Loan2Amount:
          example: Loan2Amount
          type: string
        DeedTransactionType:
          example: DeedTransactionType
          type: string
        DeedTransactionTypeDesc:
          example: DeedTransactionTypeDesc
          type: string
        NonArmsLengthTransCount:
          example: NonArmsLengthTransCount
          type: string
        NumberOfTimesSold:
          example: NumberOfTimesSold
          type: string
        REOMultiFlag:
          example: REOMultiFlag
          type: string
        AssessedLandValue:
          example: AssessedLandValue
          type: string
        AssessedImprovedValue:
          example: AssessedImprovedValue
          type: string
        AssessedTotalValue:
          example: AssessedTotalValue
          type: string
        AssessmentYear:
          example: AssessmentYear
          type: string
        MarketLandValue:
          example: MarketLandValue
          type: string
        MarketImprovedValue:
          example: MarketImprovedValue
          type: string
        MarketTotalValue:
          example: MarketTotalValue
          type: string
        AssessorMarketYear:
          example: AssessorMarketYear
          type: string
        Loan1Amount:
          example: Loan1Amount
          type: string
        SecTwpRngMer:
          example: SecTwpRngMer
          type: string
        PriorSale1Buyers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        PriorSale1Sellers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        PriorSale1TypeOfSale:
          example: PriorSale1TypeOfSale
          type: string
        PriorSale1TypeOfSaleDesc:
          example: PriorSale1TypeOfSaleDesc
          type: string
        PriorSale1DocumentType:
          example: PriorSale1DocumentType
          type: string
        PriorSale1DocumentNumber:
          example: PriorSale1DocumentNumber
          type: string
        PriorSale1Book:
          example: PriorSale1Book
          type: string
        PriorSale1Page:
          example: PriorSale1Page
          type: string
        PriorSale1ContractDate:
          example: PriorSale1ContractDate
          type: string
        PriorSale1RecordingDate:
          example: PriorSale1RecordingDate
          type: string
        PriorSale1Price:
          example: PriorSale1Price
          type: string
        PriorSale1PriceCode:
          example: PriorSale1PriceCode
          type: string
        PriorSale1PriceCodeDesc:
          example: PriorSale1PriceCodeDesc
          type: string
        PriorSale2Buyers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        PriorSale2Sellers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        PriorSale2TypeOfSale:
          example: PriorSale2TypeOfSale
          type: string
        PriorSale2TypeOfSaleDesc:
          example: PriorSale2TypeOfSaleDesc
          type: string
        PriorSale2DocumentType:
          example: PriorSale2DocumentType
          type: string
        PriorSale2DocumentNumber:
          example: PriorSale2DocumentNumber
          type: string
        PriorSale2Book:
          example: PriorSale2Book
          type: string
        PriorSale2Page:
          example: PriorSale2Page
          type: string
        PriorSale2ContractDate:
          example: PriorSale2ContractDate
          type: string
        PriorSale2RecordingDate:
          example: PriorSale2RecordingDate
          type: string
        PriorSale2Price:
          example: PriorSale2Price
          type: string
        PriorSale2PriceCode:
          example: PriorSale2PriceCode
          type: string
        PriorSale2PriceCodeDesc:
          example: PriorSale2PriceCodeDesc
          type: string
        ActiveDefault:
          $ref: '#/components/schemas/ActiveDefault'
    LoanTransaction:
      type: object
      properties:
        Description:
          example: Description
          type: string
        Code:
          example: Code
          type: string
        Value:
          example: Value
          type: string
    ActiveForeclosureByZip:
      type: object
      properties:
        MonthYear:
          example: MonthYear
          type: string
        ActiveForeclosures:
          type: array
          items:
            $ref: '#/components/schemas/ActiveForeclosure'
    AVMInformation:
      type: object
      properties:
        AVMType:
          example: AVMType
          type: string
        AVMLow:
          example: AVMLow
          type: string
        ConfiAVMHigh:
          example: ConfiAVMHigh
          type: string
        AVMValue:
          example: AVMValue
          type: string
        AVMConfidenceDescr:
          example: AVMConfidenceDescr
          type: string
        AVMConfScore:
          example: AVMConfScore
          type: string
        AVMFSD:
          example: AVMFSD
          type: string
    ListingDataDefinition:
      properties:
        ListingHistory:
          type: array
          items:
            $ref: '#/components/schemas/ListingHistoryDefinition'
        NearbyActiveListings:
          type: array
          items:
            $ref: '#/components/schemas/ListingHistoryDefinition'
        LocalMarketTrends:
          type: array
          items:
            $ref: '#/components/schemas/LocalMarketTrendDefinition'
    ParsedDate_4:
      properties:
        Year:
          type: number
        Month:
          type: number
        Day:
          type: number
      example:
        Month: 1
        Year: 2017
        Day: 1
    LocalMarketTrendDefinition:
      type: object
      properties:
        City:
          example: City
          type: string
        PriceMedian:
          example: PriceMedian
          type: string
        PriceQuartile:
          example: PriceQuartile
          type: string
        ResidenceType:
          example: ResidenceType
          type: string
        RollingAverage:
          example: RollingAverage
          type: string
        State:
          example: State
          type: string
        StatsCaptureDate:
          example: StatsCaptureDate
          type: string
        Zip:
          example: Zip
          type: string
        AgeMean:
          example: AgeMean
          type: string
        BathsMean:
          example: BathsMean
          type: string
        BedsMean:
          example: BedsMean
          type: string
        DaysOnMarketMean:
          example: DaysOnMarketMean
          type: string
        PercentPriceDecreasedMedian:
          example: PercentPriceDecreasedMedian
          type: string
        PercentPriceIncreasedMedian:
          example: PercentPriceIncreasedMedian
          type: string
        PriceMax:
          example: PriceMax
          type: string
        PriceMin:
          example: PriceMin
          type: string
        PricePerBathroomMean:
          example: PricePerBathroomMean
          type: string
        PricePerBedroomMean:
          example: PricePerBedroomMean
          type: string
        PricePerSquareFootMean:
          example: PricePerSquareFootMean
          type: string
        SquareFootMedian:
          example: SquareFootMedian
          type: string
        PriceOfListingsAbsorbedMedian:
          example: PriceOfListingsAbsorbedMedian
          type: string
        PriceOfNewListingsMean:
          example: PriceOfNewListingsMean
          type: string
        PriceHigh:
          example: PriceHigh
          type: string
        PriceMean:
          example: PriceMean
          type: string
        PriceLow:
          example: PriceLow
          type: string
        ListingPriceMean:
          example: ListingPriceMean
          type: string
        SquareFtMean:
          example: SquareFtMean
          type: string
    PropertyValueRange:
      type: object
      properties:
        EstimatedRangeMin:
          example: EstimatedRangeMin
          type: string
        EstimatedRangeMax:
          example: EstimatedRangeMax
          type: string
        ConfidenceScore:
          example: ConfidenceScore
          type: string
        ConfidenceLevel:
          example: ConfidenceLevel
          type: string
        NeighborhoodAverage:
          example: NeighborhoodAverage
          type: string
        NeighborhoodMin:
          example: NeighborhoodMin
          type: string
        NeighborhoodMax:
          example: NeighborhoodMax
          type: string
    Phone:
      properties:
        PhoneType:
          example: PhoneType
          type: string
        PhoneNumber:
          example: PhoneNumber
          type: string
    ActiveDefault:
      type: object
      properties:
        IsActiveDefault:
          example: IsActiveDefault
          type: string
        LatestStatus:
          example: LatestStatus
          type: string
        RecordingDate:
          example: RecordingDate
          type: string
    PropertyOwnerInformation:
      type: object
      properties:
        OwnerNames:
          example: OwnerNames
          type: string
        OwnerName1:
          example: OwnerName1
          type: string
        OwnerName2:
          example: OwnerName2
          type: string
        OwnerName3:
          example: OwnerName3
          type: string
        OwnerName4:
          example: OwnerName4
          type: string
        AdditionalBuyerNameCount:
          example: AdditionalBuyerNameCount
          type: string
        Buyer1IDCode:
          example: Buyer1IDCode
          type: string
        Buyer1IDCodeDesc:
          example: Buyer1IDCodeDesc
          type: string
        Buyer2IDCode:
          example: Buyer2IDCode
          type: string
        Buyer2IDCodeDesc:
          example: Buyer2IDCodeDesc
          type: string
        Vesting:
          example: Vesting
          type: string
        VestingCodeDesc:
          example: VestingCodeDesc
          type: string
        CurrentOwnerAsOf:
          example: CurrentOwnerAsOf
          type: string
        OwnerOccupiedFlag:
          example: OwnerOccupiedFlag
          type: string
        MailingCareOfName:
          example: MailingCareOfName
          type: string
        MailingAddress:
          $ref: '#/components/schemas/Address_3'
        MailingCarrierRoute:
          example: MailingCarrierRoute
          type: string
        MailingAddressStandardized:
          example: MailingAddressStandardized
          type: string
        PhoneNumber:
          example: PhoneNumber
          type: string
        YearsOwned:
          example: YearsOwned
          type: string
        AssessorThroughDate:
          example: AssessorThroughDate
          type: string
    TaxExemptionCode:
      type: object
      properties:
        Description:
          example: TaxDesc1
          type: string
        Code:
          example: TaxCode1
          type: string
    PropertyTaxInformation:
      type: object
      properties:
        TaxAccountNumber:
          example: TaxAccountNumber
          type: string
        CurrentYearTaxSourceCodeDesc:
          example: CurrentYearTaxSourceCodeDesc
          type: string
        PropertyTaxYear:
          example: PropertyTaxYear
          type: string
        PropertyTaxDelinquentYearPrior:
          example: PropertyTaxDelinquentYearPrior
          type: string
        CurrentYearTaxSourceCode:
          example: CurrentYearTaxSourceCode
          type: string
        PriorYearTaxSourceCode:
          example: PriorYearTaxSourceCode
          type: string
        PriorYearTaxSourceCodeDesc:
          example: PriorYearTaxSourceCodeDesc
          type: string
        PriorYearDelinquentStatusCode:
          example: PriorYearDelinquentStatusCode
          type: string
        PropertyTaxDelinquentYearCurrent:
          example: PropertyTaxDelinquentYearCurrent
          type: string
        PriorYearDelinquentStatusCodeDesc:
          example: PriorYearDelinquentStatusCodeDesc
          type: string
        CurrentYearDelinquentStatus:
          example: CurrentYearDelinquentStatus
          type: string
        CurrentYearDelinquentStatusCodeDesc:
          example: CurrentYearDelinquentStatusCodeDesc
          type: string
        PropertyTaxAmount:
          example: PropertyTaxAmount
          type: string
        StatusCurrentTaxAmountCode:
          example: StatusCurrentTaxAmountCode
          type: string
        StatusCurrentTaxAmountCodeDesc:
          example: StatusCurrentTaxAmountCodeDesc
          type: string
        TaxExemptionCodes:
          type: array
          items:
            $ref: '#/components/schemas/TaxExemptionCode'
        CAHomeownerExemption:
          example: CAHomeownerExemption
          type: string
        TaxRateCodeArea:
          example: TaxRateCodeArea
          type: string
        SchoolTaxDistricts:
          type: array
          items:
            $ref: '#/components/schemas/SchoolTaxDistrict'
        AssessmentYear:
          example: AssessmentYear
          type: string
        AssessedLandValue:
          example: AssessedLandValue
          type: string
        AssessedImprovedValue:
          example: AssessedImprovedValue
          type: string
        AssessedTotalValue:
          example: AssessedTotalValue
          type: string
        AssessedImprovedPercentage:
          example: AssessedImprovedPercentage
          type: string
        AssessorMarketYear:
          example: AssessorMarketYear
          type: string
        AssessorMarketValueLand:
          example: AssessorMarketValueLand
          type: string
        AssessorMarketValueImprovements:
          example: AssessorMarketValueImprovements
          type: string
        AssessorMarketValueTotal:
          example: AssessorMarketValueTotal
          type: string
        MarketImprovedPercentage:
          example: MarketImprovedPercentage
          type: string
    FEMADisasterRecord:
      properties:
        DisasterNumber:
          type: number
        IHProgramDeclared:
          type: boolean
        IAProgramDeclared:
          type: boolean
        PAProgramDeclared:
          type: boolean
        HMProgramDeclared:
          type: boolean
        State:
          type: string
        DeclarationDate:
          $ref: '#/components/schemas/ParsedDate_4'
        DisasterType:
          type: string
        IncidentType:
          type: string
        Title:
          type: string
        IncidentBeginDate:
          $ref: '#/components/schemas/ParsedDate_4'
        IncidentEndDate:
          $ref: '#/components/schemas/ParsedDate_4'
        DisasterCloseOutDate:
          type: string
        PlaceCode:
          type: number
        DeclaredCountyArea:
          type: string
      example:
        DisasterNumber: 217
        IHProgramDeclared: false
        IAProgramDeclared: true
        PAProgramDeclared: true
        HMProgramDeclared: false
        State: State
        DeclarationDate:
          Year: 1966
          Month: 4
          Day: 30
        DisasterType: DisasterType
        IncidentType: IncidentType
        Title: Title
        IncidentBeginDate:
          Year: 1966
          Month: 4
          Day: 30
        IncidentEndDate:
          Year: 1966
          Month: 4
          Day: 30
        DisasterCloseOutDate:
          Year: 1968
          Month: 5
          Day: 23
        PlaceCode: 99013
        DeclaredCountyArea: DeclaredCountyArea
    Building:
      type: object
      properties:
        Description:
          example: Description
          type: string
        Code:
          example: Code
          type: string
        Value:
          example: Value
          type: string
    NameDefinition:
      type: object
      properties:
        Full:
          example: Full
          type: string
        First:
          example: First
          type: string
        FirstAndMiddleName:
          example: FirstAndMiddleName
          type: string
        LastOrCompanyName:
          example: LastOrCompanyName
          type: string
    ProductMessage:
      properties:
        MessageCode:
          example: S
          type: string
        MessageDescription:
          example: Complete
          type: string
        Reason:
          example: Reason
          type: string
        MatchCode:
          example: OK
          type: string
    Transaction:
      type: object
      properties:
        TransactionType:
          example: TransactionType
          type: string
        TransactionID:
          example: TransactionID
          type: string
        MainOrAddendumRecord:
          example: MainOrAddendumRecord
          type: string
        PropertyUseCode:
          example: PropertyUseCode
          type: string
        PropertyUseCodeDesc:
          example: PropertyUseCodeDesc
          type: string
        DocumentType:
          example: DocumentType
          type: string
        DocumentTypeCodeDesc:
          example: DocumentTypeCodeDesc
          type: string
        RecorderDocumentNumber:
          example: RecorderDocumentNumber
          type: string
        RecorderBookNumber:
          example: RecorderBookNumber
          type: string
        RecorderPageNumber:
          example: RecorderPageNumber
          type: string
        ContractDate:
          example: ContractDate
          type: string
        RecordingDate:
          example: RecordingDate
          type: string
        CondominiumRider:
          example: CondominiumRider
          type: string
        PlannedUnitDevelopmentRider:
          example: PlannedUnitDevelopmentRider
          type: string
        FamilyRider1to4:
          example: FamilyRider1to4
          type: string
        SecondHomeRider:
          example: SecondHomeRider
          type: string
        LegalBriefDescription:
          example: LegalBriefDescription
          type: string
        LegalLotCode:
          example: LegalLotCode
          type: string
        LegalLotCodeDesc:
          example: LegalLotCodeDesc
          type: string
        LegalLotNumber:
          example: LegalLotNumber
          type: string
        LegalBlockNumber:
          example: LegalBlockNumber
          type: string
        LegalSection:
          example: LegalSection
          type: string
        LegalDistrict:
          example: LegalDistrict
          type: string
        LegalLandLot:
          example: LegalLandLot
          type: string
        LegalUnit:
          example: LegalUnit
          type: string
        LegalCityMuniTownship:
          example: LegalCityMuniTownship
          type: string
        LegalSubdivisonName:
          example: LegalSubdivisonName
          type: string
        LegalPhaseNumber:
          example: LegalPhaseNumber
          type: string
        LegalTractNumber:
          example: LegalTractNumber
          type: string
        LegalSecTwnRngMer:
          example: LegalSecTwnRngMer
          type: string
        LegalRecordersMapRef:
          example: LegalRecordersMapRef
          type: string
        TitleCompanyName:
          example: TitleCompanyName
          type: string
        RecorderPropertyAddress:
          $ref: '#/components/schemas/Address_3'
        RecorderPropertyAddressSourceCode:
          example: RecorderPropertyAddressSourceCode
          type: string
        RecorderPropertyAddressSourceCodeDesc:
          example: RecorderPropertyAddressSourceCodeDesc
          type: string
        OriginalLoanPID:
          example: OriginalLoanPID
          type: string
        OriginalLoanRecordingDate:
          example: OriginalLoanRecordingDate
          type: string
        OriginalLoanContractDate:
          example: OriginalLoanContractDate
          type: string
        OriginalLoanDocumentNumber:
          example: OriginalLoanDocumentNumber
          type: string
        OriginalLoanBook:
          example: OriginalLoanBook
          type: string
        OriginalLoanPage:
          example: OriginalLoanPage
          type: string
        OriginalLoanAmount:
          example: OriginalLoanAmount
          type: string
        OriginalLender:
          example: OriginalLender
          type: string
        LoanNumber:
          example: LoanNumber
          type: string
        BorrowerName:
          example: BorrowerName
          type: string
        MERSNumber:
          example: MERSNumber
          type: string
        MERSNumberValidation:
          example: MERSNumberValidation
          type: string
        MAINAddendum:
          example: MAINAddendum
          type: string
        MSPSvcrLoanNumber:
          example: MSPSvcrLoanNumber
          type: string
        MultipleAPNFlag:
          example: MultipleAPNFlag
          type: string
        MultipleAPNFlagDesc:
          example: MultipleAPNFlagDesc
          type: string
        SalesPrice:
          example: SalesPrice
          type: string
        SalesPriceCode:
          example: SalesPriceCode
          type: string
        SalesPriceCodeDesc:
          example: SalesPriceCodeDesc
          type: string
        CityTransferTax:
          example: CityTransferTax
          type: string
        CountyTransferTax:
          example: CountyTransferTax
          type: string
        TotalTransferTaxRecorder:
          example: TotalTransferTaxRecorder
          type: string
        PartialOwnershipInterestTransfer:
          example: PartialOwnershipInterestTransfer
          type: string
        Sellers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        SellerNameAddendumFlagRowCount:
          example: SellerNameAddendumFlagRowCount
          type: string
        SellerAddress:
          $ref: '#/components/schemas/Address_3'
        Buyers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        BuyerVestingCode:
          example: BuyerVestingCode
          type: string
        BuyerVestingCodeDesc:
          example: BuyerVestingCodeDesc
          type: string
        BuyerNameAddendumFlagRowCount:
          example: BuyerNameAddendumFlagRowCount
          type: string
        RecorderBuyerMailCareOfName:
          example: RecorderBuyerMailCareOfName
          type: string
        RecorderBuyerAddress:
          $ref: '#/components/schemas/Address_3'
        ConcurrentMortgagePurchaseORRefiFlag:
          example: ConcurrentMortgagePurchaseORRefiFlag
          type: string
        ConcurrentMortgageDocumentNumber:
          example: ConcurrentMortgageDocumentNumber
          type: string
        ConcurrentMortgageLenderName:
          example: ConcurrentMortgageLenderName
          type: string
        ConcurrentMortgageLenderTypeCode:
          example: ConcurrentMortgageLenderTypeCode
          type: string
        ConcurrentMortgageLenderTypeCodeDesc:
          example: ConcurrentMortgageLenderTypeCodeDesc
          type: string
        ConcurrentMortgageLoanAmount:
          example: ConcurrentMortgageLoanAmount
          type: string
        ConcurrentMortgageLoanTypeCode:
          example: ConcurrentMortgageLoanTypeCode
          type: string
        ConcurrentMortgageLoanTypeCodeDesc:
          example: ConcurrentMortgageLoanTypeCodeDesc
          type: string
        ConcurrentMortgageFinancingTypeCode:
          example: ConcurrentMortgageFinancingTypeCode
          type: string
        ConcurrentMortgageFinancingTypeCodeDesc:
          example: ConcurrentMortgageFinancingTypeCodeDesc
          type: string
        ConcurrentMortgageInterestRate:
          example: ConcurrentMortgageInterestRate
          type: string
        ConcurrentMortgageMaturityDate:
          example: ConcurrentMortgageMaturityDate
          type: string
        ConcurrentMortgageImpliedInterestRate:
          example: ConcurrentMortgageImpliedInterestRate
          type: string
        ConcurrentMortgageMortgageTerm:
          example: ConcurrentMortgageMortgageTerm
          type: string
        ConcurrentMortgageRateChangeFrequencyCode:
          example: ConcurrentMortgageRateChangeFrequencyCode
          type: string
        ConcurrentMortgageRateChangeFrequencyCodeDesc:
          example: ConcurrentMortgageRateChangeFrequencyCodeDesc
          type: string
        ConcurrentMortgageChangeIndexLendersMargin:
          example: ConcurrentMortgageChangeIndexLendersMargin
          type: string
        ConcurrentMortgageAdjustableRateIndexCode:
          example: ConcurrentMortgageAdjustableRateIndexCode
          type: string
        ConcurrentMortgageAdjustableRateIndexCodeDesc:
          example: ConcurrentMortgageAdjustableRateIndexCodeDesc
          type: string
        ConcurrentMortgageFirstChangeDateInterestRateNotGreaterThan:
          example: ConcurrentMortgageFirstChangeDateInterestRateNotGreaterThan
          type: string
        ConcurrentMortgageFirstChangeDateInterestNotLessThan:
          example: ConcurrentMortgageFirstChangeDateInterestNotLessThan
          type: string
        ConcurrentMortgageMaximumInterestRate:
          example: ConcurrentMortgageMaximumInterestRate
          type: string
        ConcurrentMortgageFirstChangeDateMMDD:
          example: ConcurrentMortgageFirstChangeDateMMDD
          type: string
        ConcurrentMortgageFirstChangeDateYEAR:
          example: ConcurrentMortgageFirstChangeDateYEAR
          type: string
        ConcurrentMortgageInterestOnlyFlag:
          example: ConcurrentMortgageInterestOnlyFlag
          type: string
        ConcurrentMortgageAdjustableRateRider:
          example: ConcurrentMortgageAdjustableRateRider
          type: string
        ConcurrentMortgagePrepaymentRiderCode:
          example: ConcurrentMortgagePrepaymentRiderCode
          type: string
        ConcurrentMortgagePrepaymentTerm:
          example: ConcurrentMortgagePrepaymentTerm
          type: string
        ConcurrentMortgageFixedStepRateRiderCode:
          example: ConcurrentMortgageFixedStepRateRiderCode
          type: string
        ConcurrentMortgageFixedStepRateRiderCodeDesc:
          example: ConcurrentMortgageFixedStepRateRiderCodeDesc
          type: string
        ConcurrentMortgageBiweeklyPaymentRider:
          example: ConcurrentMortgageBiweeklyPaymentRider
          type: string
        ConcurrentMortgageBalloonRider:
          example: ConcurrentMortgageBalloonRider
          type: string
        ConcurrentMortgageRateImprovementRider:
          example: ConcurrentMortgageRateImprovementRider
          type: string
        ConcurrentMortgageAssumabilityRider:
          example: ConcurrentMortgageAssumabilityRider
          type: string
        SecondLoanAmount:
          example: SecondLoanAmount
          type: string
        CompleteLegalDescriptionCode:
          example: CompleteLegalDescriptionCode
          type: string
        CompleteLegalDescriptionCodeDesc:
          example: CompleteLegalDescriptionCodeDesc
          type: string
        LandOrLotSizeOrAcreageRecorderData:
          example: LandOrLotSizeOrAcreageRecorderData
          type: string
        TimeShareFlag:
          example: TimeShareFlag
          type: string
        TypeofSale:
          example: TypeofSale
          type: string
        AssessmentSalesPrice:
          example: AssessmentSalesPrice
          type: string
        AssessmentSalesPriceCode:
          example: AssessmentSalesPriceCode
          type: string
        AssessmentSalesPriceCodeDesc:
          example: AssessmentSalesPriceCodeDesc
          type: string
        AssessmentSalePriorRecordingDate:
          example: AssessmentSalePriorRecordingDate
          type: string
        AssessmentSalePriorSalesPrice:
          example: AssessmentSalePriorSalesPrice
          type: string
        AssessmentSalePriorSalesPriceCode:
          example: AssessmentSalePriorSalesPriceCode
          type: string
        AssessmentSalePriorSalesPriceCodeDesc:
          example: AssessmentSalePriorSalesPriceCodeDesc
          type: string
        Borrowers:
          type: array
          items:
            $ref: '#/components/schemas/EntityInfo'
        BorrowerVestingCode:
          example: BorrowerVestingCode
          type: string
        BorrowerVestingCodeDesc:
          example: BorrowerVestingCodeDesc
          type: string
        RecorderBorrowerMailingAddress:
          $ref: '#/components/schemas/Address_3'
        BorrowerAddressSourceCode:
          example: BorrowerAddressSourceCode
          type: string
        PurchaseORRefiFlag:
          example: PurchaseORRefiFlag
          type: string
        LenderName:
          example: LenderName
          type: string
        LenderNameID:
          example: LenderNameID
          type: string
        LenderTypeCode:
          example: LenderTypeCode
          type: string
        LenderTypeCodeDesc:
          example: LenderTypeCodeDesc
          type: string
        LenderMailingAddress:
          $ref: '#/components/schemas/Address_3'
        LoanAmount:
          example: LoanAmount
          type: string
        LoanType:
          example: LoanType
          type: string
        LoanTypeCodeDesc:
[...]
