openapi: 3.2.0
info:
  description: ''
  version: v1
  title: Search NMLS data API
servers:
- url: https://api-w2.firstam.io/v1
tags:
- name: Search NMLS data
paths:
  /nmls/search:
    post:
      tags:
      - Search NMLS data
      summary: Search NMLS data
      description: Search NMLS data based on NMLS ID, name, or license number. Only returns a subset of the NMLS data. Use the /lookup GET endpoints for the full dataset.
      operationId: post
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResponse'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        description: Request for NMLS
        required: true
  /nmls/search/company:
    post:
      tags:
      - Search NMLS data
      summary: Search NMLS company data
      description: Search NMLS company data based on NMLS ID, name, or license number. Only returns a subset of the NMLS data. Use the /lookup GET endpoints for the full dataset.
      operationId: post
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanySearchResponse'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanySearchResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        description: Request for NMLS
        required: true
  /nmls/search/individual:
    post:
      tags:
      - Search NMLS data
      summary: Search NMLS individual data
      description: Search individual NMLS data based on NMLS ID, name, or license number. Only returns a subset of the NMLS data. Use the /lookup GET endpoints for the full dataset.
      operationId: post
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndividualSearchResponse'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndividualSearchResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        description: Request for NMLS
        required: true
components:
  schemas:
    Address:
      type: object
      properties:
        APN:
          type: string
        Longitude:
          type: string
        Latitude:
          type: string
        StateCityZip:
          type: string
        PostalCode:
          type: string
        Country:
          type: string
        County:
          type: string
        ZipFour:
          type: string
        ZipCode:
          type: string
        Hash:
          type: string
        State:
          type: string
        StreetAddress2:
          type: string
        StreetAddress1:
          type: string
        UnitNumber:
          type: string
        UnitDesignation:
          type: string
        StreetPostDirection:
          type: string
        StreetSuffix:
          type: string
        StreetName:
          type: string
        StreetPreDirection:
          type: string
        StreetNumber:
          type: string
        City:
          type: string
        FullAddress:
          type: string
    SearchResponse:
      type: object
      properties:
        ConfidenceScore:
          type: integer
        IsAuthorizedToConductBusiness:
          type: boolean
        IsFederallyRegulated:
          type: boolean
        EntityType:
          type: string
        Name:
          $ref: '#/components/schemas/Name'
        NMLSID:
          type: integer
        Address:
          $ref: '#/components/schemas/Address'
        Locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
    Location:
      type: object
      properties:
        CompanyName:
          type: string
        LocationNMLSID:
          type: string
        LocationType:
          type: string
        Street:
          type: string
        StartDate:
          type: string
        Address:
          $ref: '#/components/schemas/Address'
    Name:
      type: object
      properties:
        Full:
          type: string
        First:
          type: string
        Middle:
          type: string
        Last:
          type: string
        Suffix:
          type: string
        Prefix:
          type: string
        LastOrCompanyName:
          type: string
        FirstAndMiddleName:
          type: string
    ServiceRequest:
      type: object
      properties:
        Name:
          $ref: '#/components/schemas/Name'
        Address:
          $ref: '#/components/schemas/Address'
        NMLSID:
          type: integer
        ConfidenceScore:
          type: integer
        IncludeAnalytics:
          type: boolean
      example:
        RequestorID: ID123
        IncludeAnalytics: false
        NMLSID: 349974
        Name:
          First: John
          Middle: Travis
          LastOrCompanyName: Harrison
        Address:
          State: CO
        ConfidenceScore: 90
    CompanySearchResponse:
      type: object
      properties:
        ConfidenceScore:
          type: integer
        IsAuthorizedToConductBusiness:
          type: boolean
        IsFederallyRegulated:
          type: boolean
        EntityType:
          type: string
        Name:
          $ref: '#/components/schemas/Name'
        NMLSID:
          type: integer
        Address:
          $ref: '#/components/schemas/Address'
    IndividualSearchResponse:
      type: object
      properties:
        ConfidenceScore:
          type: integer
        IsFederallyRegulated:
          type: boolean
        EntityType:
          type: string
        Name:
          $ref: '#/components/schemas/Name'
        NMLSID:
          type: integer
        Locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
