swagger: '2.0'
info:
  description: ''
  version: 1.0.0
  title: Property Service
host: api.firstam.io
basePath: /v1
schemes:
- https
paths:
  /property/order/basic:
    post:
      tags:
      - Request Property
      summary: Request for Property Basic Data Service
      description: 'Property Basic: Property Characteristics, Assessor Tax Info, Assessee Contact Information,  Transaction
        History, Assessor Legal description and Current Owner Information. Required fields: StreetAddress1,
        City, State, ZipCode.'
      operationId: reqPropertyBasic
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for Property
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PropertyBasicResponse'
        '400':
          description: Invalid Input, Object Invalid
  /property/order/extended:
    post:
      tags:
      - Request Property
      summary: Request for Property Extended Data Service
      description: 'Property Extended: All data points in Property Basic and Comparable Sales, AVM Information,
        Property Value Range, Active Default and Active Foreclosures by Zip code. Required fields: StreetAddress1,
        City, State, ZipCode.'
      operationId: reqPropertyExtended
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for Property
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PropertyExtendedResponse'
        '400':
          description: Invalid Input, Object Invalid
  /property/order/propertyoverview:
    post:
      tags:
      - Request Property
      summary: Request for Property Overview Service
      description: 'Property Overview: All data points in Property Basic and Extended. Listing History,
        Nearby Active Listings and MLS Local Market Trends. Required fields: StreetAddress1, City, State,
        ZipCode.'
      operationId: reqPropertyOverview
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for Property
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PropertyOverviewResponse'
        '400':
          description: Invalid Input, Object Invalid
  /property/order/listinghistory:
    post:
      tags:
      - Request Listing Data
      summary: Request for Listing History
      description: 'Listing History: Current status of listing, on/off market and as past sales history.
        Required fields: StreetAddress1, City, State, ZipCode.'
      operationId: reqListingHistory
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for Property
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListingDataResponse'
        '400':
          description: Invalid Input, Object Invalid
  /property/order/localmarkettrends:
    post:
      tags:
      - Request Listing Data
      summary: Request for Local Market Trends
      description: 'Market Trends: Returns data related to local price related averages and trends. Required
        fields: StreetAddress1, City, State, ZipCode.'
      operationId: reqLocalMarketTrend
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for Property
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListingDataResponse'
        '400':
          description: Invalid Input, Object Invalid
  /property/order/nearbyactivelistings:
    post:
      tags:
      - Request Listing Data
      summary: Request for Nearby Active Listings
      description: 'Nearby Listings: Returns listing results related to nearby properties for sale. Required
        fields: StreetAddress1, City, State, ZipCode.'
      operationId: reqNearbyActiveListings
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for Property
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ListingDataResponse'
        '400':
          description: Invalid Input, Object Invalid
  /property/order/hoa:
    post:
      tags:
      - Request Property HOA
      summary: Request for Property HOA Service
      description: 'Property HOA: Current HOA information of the property. Required fields: StreetAddress1,
        City, State, ZipCode or APN'
      operationId: reqPropertyHOA
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for HOA
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HOAServiceResponseDefinition'
        '400':
          description: Invalid Input, Object Invalid
  /fema/order:
    post:
      tags:
      - Request FEMA
      summary: Request for Property FEMA Service
      description: 'Identifies FEMA Major Disaster Declarations properties in designated counties under
        individual assistance: floods, fires, storms, mudslides etc. Alerts and Analytics can be added
        by setting the "IncludeAnalytics" flag in the request body to true.'
      operationId: reqPropertyFEMA
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: body
        name: Request
        description: Request for FEMA
        required: true
        schema:
          $ref: '#/definitions/PropertyServiceRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FEMAServiceResponse'
        '400':
          description: Invalid Input, Object Invalid
  /property/report:
    get:
      tags:
      - Get Response
      summary: Retrieve by Transaction ID
      operationId: retrieveProperty
      description: Add a transactionID to the query string to retrieve an existing report
      consumes:
      - application/json
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - in: query
        name: TransactionID
        description: Transaction ID number provided
        required: true
        default: ''
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PropertyOverviewResponse'
        '400':
          description: Invalid Request, Object Invalid
        '404':
          description: No Data Found
  /fema/report:
    get:
      tags:
      - Get Response
      summary: Retrieve existing FEMA report by transactionID
      description: Add a transactionID to the query string to retrieve an existing report
      operationId: get
      consumes:
      - application/json
      - application/xml
      produces:
      - application/json
      - application/xml
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        type: string
      - name: transactionID
        in: query
        description: Unique identifier tied to a report
        required: true
        type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FEMAServiceResponse'
        '400':
          description: Bad Request (missing/invalid transactionID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (no report found by transactionID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
definitions:
  PropertyServiceRequest:
    type: object
    required:
    - RequestorID
    - Address
    properties:
      RequestorID:
        example: ID123
        type: string
        minLength: 1
        maxLength: 100
        description: LoanNumber or TransactionID
      Address:
        type: object
        required:
        - StreetAddress1
        - City
        - State
        - ZipCode
        properties:
          StreetAddress1:
            example: 123 Main St
            type: string
          StreetAddress2:
            example: ''
            type: string
          City:
            example: Mountainsee
            type: string
          State:
            example: ZZ
            type: string
          ZipCode:
            example: '90000'
            type: string
          ZipFour:
            example: ''
            type: string
          County:
            example: ''
            type: string
          APN:
            example: ''
            type: string
      IncludeAnalytics:
        type: boolean
        example: false
        description: Option to run analytics on data set.
  PropertyOverviewResponse:
    properties:
      TransactionID:
        example: 82d9762b-70c3-4801-bd4b-8ffc8d358f77
        type: string
        description: TransactionID can be used to fetch data at later stage.
      RequestorID:
        example: RequestorID
        type: string
        minLength: 1
        maxLength: 100
        description: LoanNumber or TransactionID
      PropertyDataResponse:
        $ref: '#/definitions/PropertyOverviewResponseDefinition'
      ListingResponse:
        $ref: '#/definitions/ListingDataDefinition'
      HOAServiceResponse:
        $ref: '#/definitions/HOAServiceResponseDefinition'
      FEMAServiceResponse:
        $ref: '#/definitions/FEMAServiceResponse'
  PropertyExtendedResponse:
    properties:
      TransactionID:
        example: 82d9762b-70c3-4801-bd4b-8ffc8d358f77
        type: string
        description: TransactionID can be used to fetch data at later stage.
      RequestorID:
        example: RequestorID
        type: string
        minLength: 1
        maxLength: 100
        description: LoanNumber or TransactionID
      ProductMessage:
        $ref: '#/definitions/ProductMessage'
      PropertyDataResponse:
        $ref: '#/definitions/PropertyExtendedDefinition'
  PropertyBasicResponse:
    properties:
      TransactionID:
        example: 82d9762b-70c3-4801-bd4b-8ffc8d358f77
        type: string
        description: TransactionID can be used to fetch data at later stage.
      RequestorID:
        example: RequestorID
        type: string
        minLength: 1
        maxLength: 100
        description: LoanNumber or TransactionID
      ProductMessage:
        $ref: '#/definitions/ProductMessage'
      PropertyDataResponse:
        $ref: '#/definitions/PropertyBasicResponseDefinition'
  ListingDataResponse:
    properties:
      TransactionID:
        example: 82d9762b-70c3-4801-bd4b-8ffc8d358f77
        type: string
        description: TransactionID can be used to fetch data at later stage.
      RequestorID:
        example: RequestorID
        type: string
        minLength: 1
        maxLength: 100
        description: LoanNumber or TransactionID
      StatusCode:
        example: Success
        type: string
      ListingData:
        type: array
        items:
          $ref: '#/definitions/ListingHistoryDefinition'
      LocalMarketTrends:
        type: array
        items:
          $ref: '#/definitions/LocalMarketTrendDefinition'
  PropertyOverviewResponseDefinition:
    properties:
      StatusCode:
        example: Success
        type: string
      ProductMessage:
        $ref: '#/definitions/ProductMessage'
      PropertyLocationData:
        $ref: '#/definitions/PropertyLocationData'
      Locations:
        type: array
        items:
          $ref: '#/definitions/PropertyLocationData'
      PropertyTaxInformation:
        $ref: '#/definitions/PropertyTaxInformation'
      PropertyOwnerInformation:
        $ref: '#/definitions/PropertyOwnerInformation'
      AssesseeContactInformation:
        $ref: '#/definitions/AssesseeContactInformation'
      PropertyCharacteristics:
        $ref: '#/definitions/PropertyCharacteristics'
      AssessorLegal:
        $ref: '#/definitions/AssessorLegal'
      PropertyTransactionHistory:
        $ref: '#/definitions/PropertyTransactionHistory'
      LoanTransactionHistory:
        $ref: '#/definitions/LoanTransactionHistory'
      NearbyComparableSales:
        type: array
        items:
          $ref: '#/definitions/ComparableSale'
      AVMInformation:
        $ref: '#/definitions/AVMInformation'
      PropertyValueRange:
        $ref: '#/definitions/PropertyValueRange'
      ActiveDefault:
        $ref: '#/definitions/ActiveDefault'
      ActiveForeclosuresByZip:
        type: array
        items:
          $ref: '#/definitions/ActiveForeclosureByZip'
  PropertyExtendedDefinition:
    properties:
      StatusCode:
        example: Success
        type: string
      ProductMessage:
        $ref: '#/definitions/ProductMessage'
      PropertyLocationData:
        $ref: '#/definitions/PropertyLocationData'
      Locations:
        type: array
        items:
          $ref: '#/definitions/PropertyLocationData'
      PropertyTaxInformation:
        $ref: '#/definitions/PropertyTaxInformation'
      PropertyOwnerInformation:
        $ref: '#/definitions/PropertyOwnerInformation'
      AssesseeContactInformation:
        $ref: '#/definitions/AssesseeContactInformation'
      PropertyCharacteristics:
        $ref: '#/definitions/PropertyCharacteristics'
      AssessorLegal:
        $ref: '#/definitions/AssessorLegal'
      PropertyTransactionHistory:
        $ref: '#/definitions/PropertyTransactionHistory'
      LoanTransactionHistory:
        $ref: '#/definitions/LoanTransactionHistory'
      NearbyComparableSales:
        type: array
        items:
          $ref: '#/definitions/ComparableSale'
      AVMInformation:
        $ref: '#/definitions/AVMInformation'
      PropertyValueRange:
        $ref: '#/definitions/PropertyValueRange'
      ActiveDefault:
        $ref: '#/definitions/ActiveDefault'
      ActiveForeclosuresByZip:
        type: array
        items:
          $ref: '#/definitions/ActiveForeclosureByZip'
  PropertyBasicResponseDefinition:
    properties:
      StatusCode:
        example: Success
        type: string
      ProductMessage:
        $ref: '#/definitions/ProductMessage'
      PropertyLocationData:
        $ref: '#/definitions/PropertyLocationData'
      Locations:
        type: array
        items:
          $ref: '#/definitions/PropertyLocationData'
      PropertyTaxInformation:
        $ref: '#/definitions/PropertyTaxInformation'
      PropertyOwnerInformation:
        $ref: '#/definitions/PropertyOwnerInformation'
      AssesseeContactInformation:
        $ref: '#/definitions/AssesseeContactInformation'
      PropertyCharacteristics:
        $ref: '#/definitions/PropertyCharacteristics'
      AssessorLegal:
        $ref: '#/definitions/AssessorLegal'
      PropertyTransactionHistory:
        $ref: '#/definitions/PropertyTransactionHistory'
      LoanTransactionHistory:
        $ref: '#/definitions/LoanTransactionHistory'
  ListingDataDefinition:
    properties:
      ListingHistory:
        type: array
        items:
          $ref: '#/definitions/ListingHistoryDefinition'
      NearbyActiveListings:
        type: array
        items:
          $ref: '#/definitions/ListingHistoryDefinition'
      LocalMarketTrends:
        type: array
        items:
          $ref: '#/definitions/LocalMarketTrendDefinition'
  ListingHistoryDefinition:
    type: object
    properties:
      ListingID:
        example: ListingID
        type: string
      ListingDate:
        example: ListingDate
        type: string
      Status:
        example: Status
        type: string
      Price:
        example: Price
        type: string
      SoldPrice:
        example: SoldPrice
        type: string
      SoldDate:
        example: SoldDate
        type: string
      PricePerSqFt:
        example: PricePerSqFt
        type: string
      ResidenceType:
        example: ResidenceType
        type: string
      PropertySubType:
        example: PropertySubType
        type: string
      Beds:
        example: Beds
        type: string
      Baths:
        example: Baths
        type: string
      ResidenceSqFt:
        example: ResidenceSqFt
        type: string
      LotSqFt:
        example: LotSqFt
        type: string
      LotFeatures:
        example: LotFeatures
        type: string
      YearBuilt:
        example: YearBuilt
        type: string
      DaysOnMarket:
        example: DaysOnMarket
        type: string
      Address:
        $ref: '#/definitions/Address'
      Latitude:
        example: Latitude
        type: string
      Longitude:
        example: Longitude
        type: string
      APN:
        example: APN
        type: string
      Style:
        example: Style
        type: string
      NumberOfStories:
        example: NumberOfStories
        type: string
      SchoolDistrict:
        example: SchoolDistrict
        type: string
      ElementarySchool:
        example: ElementarySchool
        type: string
      MiddleSchool:
        example: MiddleSchool
        type: string
      HighSchool:
        example: HighSchool
        type: string
      FireplaceFeatures:
        example: FireplaceFeatures
        type: string
      HeatingFeatures:
        example: HeatingFeatures
        type: string
      Roofing:
        example: Roofing
        type: string
      Topography:
        example: Topography
        type: string
      Subdivision:
        example: Subdivision
        type: string
      ParkingFeatures:
        example: ParkingFeatures
        type: string
      PoolFeatures:
        example: PoolFeatures
        type: string
      WaterFrontFeatures:
        example: WaterFrontFeatures
        type: string
      AirConditioners:
        example: AirConditioners
        type: string
      View:
        example: View
        type: string
      Appliances:
        example: Appliances
        type: string
      Water:
        example: Water
        type: string
      WaterAccess:
        example: WaterAccess
        type: string
      MD_CensusTract:
        example: MD_CensusTract
        type: string
      IsCurrent:
        example: IsCurrent
        type: string
      Distance:
        example: Distance
        type: string
      PricePerSqft:
        example: PricePerSqft
        type: string
  LocalMarketTrendDefinition:
    type: object
    properties:
      City:
        example: City
        type: string
      PriceMedian:
        example: PriceMedian
        type: string
      PriceQuartile:
        example: PriceQuartile
        type: string
      ResidenceType:
        example: ResidenceType
        type: string
      RollingAverage:
        example: RollingAverage
        type: string
      State:
        example: State
        type: string
      StatsCaptureDate:
        example: StatsCaptureDate
        type: string
      Zip:
        example: Zip
        type: string
      AgeMean:
        example: AgeMean
        type: string
      BathsMean:
        example: BathsMean
        type: string
      BedsMean:
        example: BedsMean
        type: string
      DaysOnMarketMean:
        example: DaysOnMarketMean
        type: string
      PercentPriceDecreasedMedian:
        example: PercentPriceDecreasedMedian
        type: string
      PercentPriceIncreasedMedian:
        example: PercentPriceIncreasedMedian
        type: string
      PriceMax:
        example: PriceMax
        type: string
      PriceMin:
        example: PriceMin
        type: string
      PricePerBathroomMean:
        example: PricePerBathroomMean
        type: string
      PricePerBedroomMean:
        example: PricePerBedroomMean
        type: string
      PricePerSquareFootMean:
        example: PricePerSquareFootMean
        type: string
      SquareFootMedian:
        example: SquareFootMedian
        type: string
      PriceOfListingsAbsorbedMedian:
        example: PriceOfListingsAbsorbedMedian
        type: string
      PriceOfNewListingsMean:
        example: PriceOfNewListingsMean
        type: string
      PriceHigh:
        example: PriceHigh
        type: string
      PriceMean:
        example: PriceMean
        type: string
      PriceLow:
        example: PriceLow
        type: string
      ListingPriceMean:
        example: ListingPriceMean
        type: string
      SquareFtMean:
        example: SquareFtMean
        type: string
  ProductMessage:
    properties:
      MessageCode:
        example: S
        type: string
      MessageDescription:
        example: Complete
        type: string
      Reason:
        example: Reason
        type: string
      MatchCode:
        example: OK
        type: string
  Address:
    type: object
    required:
    - StreetAddress1
    - City
    - State
    - Zip5
    properties:
      StreetNumber:
        example: StreetNumber
        type: string
      StreetPreDirection:
        example: StreetPreDirection
        type: string
      StreetName:
        example: StreetName
        type: string
      StreetSuffix:
        example: StreetSuffix
        type: string
      StreetPostDirection:
        example: StreetPostDirection
        type: string
      UnitDesignation:
        example: UnitDesignation
        type: string
      UnitNumber:
        example: UnitNumber
        type: string
      StreetAddress1:
        example: StreetAddress1
        type: string
      StreetAddress2:
        example: StreetAddress2
        type: string
      City:
        example: City
        type: string
      State:
        example: State
        type: string
      ZipCode:
        example: ZipCode
        type: string
      ZipFour:
        example: ZipFour
        type: string
      County:
        example: County
        type: string
      PostalCode:
        example: PostalCode
        type: string
      StateCityZip:
        example: StateCityZip
        type: string
      Latitude:
        example: Latitude
        type: string
      Longitude:
        example: Longitude
        type: string
      APN:
        example: APN
        type: string
  PropertyLocationData:
    type: object
    properties:
      FIPSStateCountyCode:
        example: FIPSStateCountyCode
        type: string
      RefId:
        example: RefId
        type: string
      County:
        example: County
        type: string
      APN:
        example: APN
        type: string
      OldorAlternateAPN:
        example: OldorAlternateAPN
        type: string
      Address:
        $ref: '#/definitions/Address'
      AddressStandardized:
        example: AddressStandardized
        type: string
      AddressGeoMatchCode:
        example: AddressGeoMatchCode
        type: string
      AddressGeoMatchCodeDesc:
        example: AddressGeoMatchCodeDesc
        type: string
      CarrierRoute:
        example: CarrierRoute
        type: string
      Latitude:
        example: Latitude
        type: string
      Longitude:
        example: Longitude
        type: string
      CensusTract:
        example: CensusTract
        type: string
      Zoning:
        example: Zoning
        type: string
      LandUse:
        example: LandUse
        type: string
      LandUseDesc:
        example: LandUseDesc
        type: string
      LegalDescription:
        example: LegalDescription
        type: string
      ThomasBrosPage:
        example: ThomasBrosPage
        type: string
      ThomasBrosGrid:
        example: ThomasBrosGrid
        type: string
      TimeShare:
        example: TimeShare
        type: string
  PropertyTaxInformation:
    type: object
    properties:
      TaxAccountNumber:
        example: TaxAccountNumber
        type: string
      CurrentYearTaxSourceCodeDesc:
        example: CurrentYearTaxSourceCodeDesc
        type: string
      PropertyTaxYear:
        example: PropertyTaxYear
        type: string
      PropertyTaxDelinquentYearPrior:
        example: PropertyTaxDelinquentYearPrior
        type: string
      CurrentYearTaxSourceCode:
        example: CurrentYearTaxSourceCode
        type: string
      PriorYearTaxSourceCode:
        example: PriorYearTaxSourceCode
        type: string
      PriorYearTaxSourceCodeDesc:
        example: PriorYearTaxSourceCodeDesc
        type: string
      PriorYearDelinquentStatusCode:
        example: PriorYearDelinquentStatusCode
        type: string
      PropertyTaxDelinquentYearCurrent:
        example: PropertyTaxDelinquentYearCurrent
        type: string
      PriorYearDelinquentStatusCodeDesc:
        example: PriorYearDelinquentStatusCodeDesc
        type: string
      CurrentYearDelinquentStatus:
        example: CurrentYearDelinquentStatus
        type: string
      CurrentYearDelinquentStatusCodeDesc:
        example: CurrentYearDelinquentStatusCodeDesc
        type: string
      PropertyTaxAmount:
        example: PropertyTaxAmount
        type: string
      StatusCurrentTaxAmountCode:
        example: StatusCurrentTaxAmountCode
        type: string
      StatusCurrentTaxAmountCodeDesc:
        example: StatusCurrentTaxAmountCodeDesc
        type: string
      TaxExemptionCodes:
        type: array
        items:
          $ref: '#/definitions/TaxExemptionCode'
      CAHomeownerExemption:
        example: CAHomeownerExemption
        type: string
      TaxRateCodeArea:
        example: TaxRateCodeArea
        type: string
      SchoolTaxDistricts:
        type: array
        items:
          $ref: '#/definitions/SchoolTaxDistrict'
      AssessmentYear:
        example: AssessmentYear
        type: string
      AssessedLandValue:
        example: AssessedLandValue
        type: string
      AssessedImprovedValue:
        example: AssessedImprovedValue
        type: string
      AssessedTotalValue:
        example: AssessedTotalValue
        type: string
      AssessedImprovedPercentage:
        example: AssessedImprovedPercentage
        type: string
      AssessorMarketYear:
        example: AssessorMarketYear
        type: string
      AssessorMarketValueLand:
        example: AssessorMarketValueLand
        type: string
      AssessorMarketValueImprovements:
        example: AssessorMarketValueImprovements
        type: string
      AssessorMarketValueTotal:
        example: AssessorMarketValueTotal
        type: string
      MarketImprovedPercentage:
        example: MarketImprovedPercentage
        type: string
  PropertyOwnerInformation:
    type: object
    properties:
      OwnerNames:
        example: OwnerNames
        type: string
      OwnerName1:
        example: OwnerName1
        type: string
      OwnerName2:
        example: OwnerName2
        type: string
      OwnerName3:
        example: OwnerName3
        type: string
      OwnerName4:
        example: OwnerName4
        type: string
      AdditionalBuyerNameCount:
        example: AdditionalBuyerNameCount
        type: string
      Buyer1IDCode:
        example: Buyer1IDCode
        type: string
      Buyer1IDCodeDesc:
        example: Buyer1IDCodeDesc
        type: string
      Buyer2IDCode:
        example: Buyer2IDCode
        type: string
      Buyer2IDCodeDesc:
        example: Buyer2IDCodeDesc
        type: string
      Vesting:
        example: Vesting
        type: string
      VestingCodeDesc:
        example: VestingCodeDesc
        type: string
      CurrentOwnerAsOf:
        example: CurrentOwnerAsOf
        type: string
      OwnerOccupiedFlag:
        example: OwnerOccupiedFlag
        type: string
      MailingCareOfName:
        example: MailingCareOfName
        type: string
      MailingAddress:
        $ref: '#/definitions/Address'
      MailingCarrierRoute:
        example: MailingCarrierRoute
        type: string
      MailingAddressStandardized:
        example: MailingAddressStandardized
        type: string
      PhoneNumber:
        example: PhoneNumber
        type: string
      YearsOwned:
        example: YearsOwned
        type: string
      AssessorThroughDate:
        example: AssessorThroughDate
        type: string
  AssesseeContactInformation:
    type: object
    properties:
      AssesseeNames:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      VestingIDCode:
        example: VestingIDCode
        type: string
      VestingIDCodeDesc:
        example: VestingIDCodeDesc
        type: string
      MailCareOfName:
        example: MailCareOfName
        type: string
      MailCareOfEntityTypeCode:
        example: MailCareOfEntityTypeCode
        type: string
      MailCareOfEntityTypeCodeDesc:
        example: MailCareOfEntityTypeCodeDesc
        type: string
      AssesseeMailingAddress:
        $ref: '#/definitions/Address'
      OwnershipCurrencyDate:
        example: OwnershipCurrencyDate
        type: string
      AssessorTapeCutDate:
        example: AssessorTapeCutDate
        type: string
  PropertyCharacteristics:
    type: object
    properties:
      LandUseAssessorCode:
        example: LandUseAssessorCode
        type: string
      LandUseAssessorDesc:
        example: LandUseAssessorDesc
        type: string
      LandUseStandardizedCode:
        example: LandUseStandardizedCode
        type: string
      LandUseStandardizedDesc:
        example: LandUseStandardizedDesc
        type: string
      LandUseStateCode:
        example: LandUseStateCode
        type: string
      ZoningAssessorDescription:
        example: ZoningAssessorDescription
        type: string
      TotalRooms:
        example: TotalRooms
        type: string
      Bedrooms:
        example: Bedrooms
        type: string
      BathsHalf:
        example: BathsHalf
        type: string
      BathsPlumbingFixturesCount:
        example: BathsPlumbingFixturesCount
        type: string
      BathsTotalCount:
        example: BathsTotalCount
        type: string
      OtherRooms1Code:
        example: OtherRooms1Code
        type: string
      OtherRooms1Desc:
        example: OtherRooms1Desc
        type: string
      BuildingCount:
        example: BuildingCount
        type: string
      UnitCount:
        example: UnitCount
        type: string
      BuildingArchitecturalStyleCode:
        example: BuildingArchitecturalStyleCode
        type: string
      BuildingArchitecturalStyleDesc:
        example: BuildingArchitecturalStyleDesc
        type: string
      Buildings:
        type: array
        items:
          $ref: '#/definitions/Building'
      BuildingAreaTotal:
        example: BuildingAreaTotal
        type: string
      BuildingAreaTotalCode:
        example: BuildingAreaTotalCode
        type: string
      BuildingAreaTotalDesc:
        example: BuildingAreaTotalDesc
        type: string
      BuildingClassCode:
        example: BuildingClassCode
        type: string
      BuildingClassDesc:
        example: BuildingClassDesc
        type: string
      BuildingConditionCode:
        example: BuildingConditionCode
        type: string
      BuildingConditionDesc:
        example: BuildingConditionDesc
        type: string
      BuildingQualityCode:
        example: BuildingQualityCode
        type: string
      OtherImprBuildings:
        type: array
        items:
          $ref: '#/definitions/Building'
      LotSizeAcres:
        example: LotSizeAcres
        type: string
      LotSizeFrontageFeet:
        example: LotSizeFrontageFeet
        type: string
      LotSizeDepthFeet:
        example: LotSizeDepthFeet
        type: string
      LotSizeOrArea:
        example: LotSizeOrArea
        type: string
      LotSizeValue:
        example: LotSizeValue
        type: string
      LotSizeUnit:
        example: LotSizeUnit
        type: string
      LotSizeSquareFeet:
        example: LotSizeSquareFeet
        type: string
      ConstructionTypeCode:
        example: ConstructionTypeCode
        type: string
      ConstructionTypeDesc:
        example: ConstructionTypeDesc
        type: string
      FoundationTypeCode:
        example: FoundationTypeCode
        type: string
      FoundationTypeDesc:
        example: FoundationTypeDesc
        type: string
      ExteriorWallTypeCode:
        example: ExteriorWallTypeCode
        type: string
      ExteriorWallTypeDesc:
        example: ExteriorWallTypeDesc
        type: string
      InteriorWallTypeCode:
        example: InteriorWallTypeCode
        type: string
      InteriorWallTypeDesc:
        example: InteriorWallTypeDesc
        type: string
      FloorCoverType1Code:
        example: FloorCoverType1Code
        type: string
      FloorCoverType1Desc:
        example: FloorCoverType1Desc
        type: string
      StoryCountCode:
        example: StoryCountCode
        type: string
      StoryCountDesc:
        example: StoryCountDesc
        type: string
      YearBuilt:
        example: YearBuilt
        type: string
      YearBuiltEffective:
        example: YearBuiltEffective
        type: string
      AirConditioningMethodCode:
        example: AirConditioningMethodCode
        type: string
      AirConditioningMethodDesc:
        example: AirConditioningMethodDesc
        type: string
      AirConditioningTypeCode:
        example: AirConditioningTypeCode
        type: string
      AirConditioningTypeDesc:
        example: AirConditioningTypeDesc
        type: string
      HeatingTypeCode:
        example: HeatingTypeCode
        type: string
      HeatingTypeDesc:
        example: HeatingTypeDesc
        type: string
      HeatingFuelTypeCode:
        example: HeatingFuelTypeCode
        type: string
      HeatingFuelTypeDesc:
        example: HeatingFuelTypeDesc
        type: string
      BasementCode:
        example: BasementCode
        type: string
      BasementDesc:
        example: BasementDesc
        type: string
      Elevator:
        example: Elevator
        type: string
      Fireplace:
        example: Fireplace
        type: string
      PoolTypeCode:
        example: PoolTypeCode
        type: string
      PoolTypeDesc:
        example: PoolTypeDesc
        type: string
      RoofMaterialCode:
        example: RoofMaterialCode
        type: string
      RoofMaterialDesc:
        example: RoofMaterialDesc
        type: string
      RoofStructureTypeCode:
        example: RoofStructureTypeCode
        type: string
      RoofStructureTypeDesc:
        example: RoofStructureTypeDesc
        type: string
      Amenities:
        type: array
        items:
          $ref: '#/definitions/Building'
      GarageParkingNumberofCars:
        example: GarageParkingNumberofCars
        type: string
      GarageTypeCode:
        example: GarageTypeCode
        type: string
      GarageTypeDesc:
        example: GarageTypeDesc
        type: string
      RBDI:
        example: RBDI
        type: string
      AssessedTotalValue:
        example: AssessedTotalValue
        type: string
      SewerTypeCode:
        example: SewerTypeCode
        type: string
      SewerTypeDesc:
        example: SewerTypeDesc
        type: string
      TopographyTypeCode:
        example: TopographyTypeCode
        type: string
      TopographyTypeDesc:
        example: TopographyTypeDesc
        type: string
      WaterSourceCode:
        example: WaterSourceCode
        type: string
      WaterSourceDesc:
        example: WaterSourceDesc
        type: string
      SiteInfluence1Code:
        example: SiteInfluence1Code
        type: string
      SiteInfluence1Desc:
        example: SiteInfluence1Desc
        type: string
      ExtraFeatures:
        type: array
        items:
          $ref: '#/definitions/Building'
      CondoProjectOrBuildingName:
        example: CondoProjectOrBuildingName
        type: string
      AssessorParcelComments:
        example: AssessorParcelComments
        type: string
  AssessorLegal:
    properties:
      BriefDescription:
        example: BriefDescription
        type: string
      FullDescription:
        example: FullDescription
        type: string
      CityMuniTownship:
        example: CityMuniTownship
        type: string
      District:
        example: District
        type: string
      Section:
        example: Section
        type: string
      SecTwnRngMer:
        example: SecTwnRngMer
        type: string
      BlockNumber:
        example: BlockNumber
        type: string
      LotNumber:
        example: LotNumber
        type: string
      LandLot:
        example: LandLot
        type: string
      LotCodeDesc:
        example: LotCodeDesc
        type: string
      SubdivisionCode:
        example: SubdivisionCode
        type: string
      SubdivisonName:
        example: SubdivisonName
        type: string
      TractNumber:
        example: TractNumber
        type: string
      PhaseNumber:
        example: PhaseNumber
        type: string
      Unit:
        example: Unit
        type: string
      RecordersMapRef:
        example: RecordersMapRef
        type: string
  PropertyTransactionHistory:
    type: array
    items:
      $ref: '#/definitions/Transaction'
  LoanTransactionHistory:
    type: array
    items:
      $ref: '#/definitions/LoanTransaction'
  TaxExemptionCode:
    type: object
    properties:
      Description:
        example: TaxDesc1
        type: string
      Code:
        example: TaxCode1
        type: string
  SchoolTaxDistrict:
    type: object
    properties:
      Description:
        example: Description
        type: string
      Code:
        example: Code
        type: string
      Value:
        example: Value
        type: string
  EntityInfo:
    type: object
    properties:
      EntityCodeDesc:
        example: EntityCodeDesc
        type: string
      EntityCode:
        example: EntityCode
        type: string
      Name:
        $ref: '#/definitions/NameDefinition'
  NameDefinition:
    type: object
    properties:
      Full:
        example: Full
        type: string
      First:
        example: First
        type: string
      FirstAndMiddleName:
        example: FirstAndMiddleName
        type: string
      LastOrCompanyName:
        example: LastOrCompanyName
        type: string
  Building:
    type: object
    properties:
      Description:
        example: Description
        type: string
      Code:
        example: Code
        type: string
      Value:
        example: Value
        type: string
  Transaction:
    type: object
    properties:
      TransactionType:
        example: TransactionType
        type: string
      TransactionID:
        example: TransactionID
        type: string
      MainOrAddendumRecord:
        example: MainOrAddendumRecord
        type: string
      PropertyUseCode:
        example: PropertyUseCode
        type: string
      PropertyUseCodeDesc:
        example: PropertyUseCodeDesc
        type: string
      DocumentType:
        example: DocumentType
        type: string
      DocumentTypeCodeDesc:
        example: DocumentTypeCodeDesc
        type: string
      RecorderDocumentNumber:
        example: RecorderDocumentNumber
        type: string
      RecorderBookNumber:
        example: RecorderBookNumber
        type: string
      RecorderPageNumber:
        example: RecorderPageNumber
        type: string
      ContractDate:
        example: ContractDate
        type: string
      RecordingDate:
        example: RecordingDate
        type: string
      CondominiumRider:
        example: CondominiumRider
        type: string
      PlannedUnitDevelopmentRider:
        example: PlannedUnitDevelopmentRider
        type: string
      FamilyRider1to4:
        example: FamilyRider1to4
        type: string
      SecondHomeRider:
        example: SecondHomeRider
        type: string
      LegalBriefDescription:
        example: LegalBriefDescription
        type: string
      LegalLotCode:
        example: LegalLotCode
        type: string
      LegalLotCodeDesc:
        example: LegalLotCodeDesc
        type: string
      LegalLotNumber:
        example: LegalLotNumber
        type: string
      LegalBlockNumber:
        example: LegalBlockNumber
        type: string
      LegalSection:
        example: LegalSection
        type: string
      LegalDistrict:
        example: LegalDistrict
        type: string
      LegalLandLot:
        example: LegalLandLot
        type: string
      LegalUnit:
        example: LegalUnit
        type: string
      LegalCityMuniTownship:
        example: LegalCityMuniTownship
        type: string
      LegalSubdivisonName:
        example: LegalSubdivisonName
        type: string
      LegalPhaseNumber:
        example: LegalPhaseNumber
        type: string
      LegalTractNumber:
        example: LegalTractNumber
        type: string
      LegalSecTwnRngMer:
        example: LegalSecTwnRngMer
        type: string
      LegalRecordersMapRef:
        example: LegalRecordersMapRef
        type: string
      TitleCompanyName:
        example: TitleCompanyName
        type: string
      RecorderPropertyAddress:
        $ref: '#/definitions/Address'
      RecorderPropertyAddressSourceCode:
        example: RecorderPropertyAddressSourceCode
        type: string
      RecorderPropertyAddressSourceCodeDesc:
        example: RecorderPropertyAddressSourceCodeDesc
        type: string
      OriginalLoanPID:
        example: OriginalLoanPID
        type: string
      OriginalLoanRecordingDate:
        example: OriginalLoanRecordingDate
        type: string
      OriginalLoanContractDate:
        example: OriginalLoanContractDate
        type: string
      OriginalLoanDocumentNumber:
        example: OriginalLoanDocumentNumber
        type: string
      OriginalLoanBook:
        example: OriginalLoanBook
        type: string
      OriginalLoanPage:
        example: OriginalLoanPage
        type: string
      OriginalLoanAmount:
        example: OriginalLoanAmount
        type: string
      OriginalLender:
        example: OriginalLender
        type: string
      LoanNumber:
        example: LoanNumber
        type: string
      BorrowerName:
        example: BorrowerName
        type: string
      MERSNumber:
        example: MERSNumber
        type: string
      MERSNumberValidation:
        example: MERSNumberValidation
        type: string
      MAINAddendum:
        example: MAINAddendum
        type: string
      MSPSvcrLoanNumber:
        example: MSPSvcrLoanNumber
        type: string
      MultipleAPNFlag:
        example: MultipleAPNFlag
        type: string
      MultipleAPNFlagDesc:
        example: MultipleAPNFlagDesc
        type: string
      SalesPrice:
        example: SalesPrice
        type: string
      SalesPriceCode:
        example: SalesPriceCode
        type: string
      SalesPriceCodeDesc:
        example: SalesPriceCodeDesc
        type: string
      CityTransferTax:
        example: CityTransferTax
        type: string
      CountyTransferTax:
        example: CountyTransferTax
        type: string
      TotalTransferTaxRecorder:
        example: TotalTransferTaxRecorder
        type: string
      PartialOwnershipInterestTransfer:
        example: PartialOwnershipInterestTransfer
        type: string
      Sellers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      SellerNameAddendumFlagRowCount:
        example: SellerNameAddendumFlagRowCount
        type: string
      SellerAddress:
        $ref: '#/definitions/Address'
      Buyers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      BuyerVestingCode:
        example: BuyerVestingCode
        type: string
      BuyerVestingCodeDesc:
        example: BuyerVestingCodeDesc
        type: string
      BuyerNameAddendumFlagRowCount:
        example: BuyerNameAddendumFlagRowCount
        type: string
      RecorderBuyerMailCareOfName:
        example: RecorderBuyerMailCareOfName
        type: string
      RecorderBuyerAddress:
        $ref: '#/definitions/Address'
      ConcurrentMortgagePurchaseORRefiFlag:
        example: ConcurrentMortgagePurchaseORRefiFlag
        type: string
      ConcurrentMortgageDocumentNumber:
        example: ConcurrentMortgageDocumentNumber
        type: string
      ConcurrentMortgageLenderName:
        example: ConcurrentMortgageLenderName
        type: string
      ConcurrentMortgageLenderTypeCode:
        example: ConcurrentMortgageLenderTypeCode
        type: string
      ConcurrentMortgageLenderTypeCodeDesc:
        example: ConcurrentMortgageLenderTypeCodeDesc
        type: string
      ConcurrentMortgageLoanAmount:
        example: ConcurrentMortgageLoanAmount
        type: string
      ConcurrentMortgageLoanTypeCode:
        example: ConcurrentMortgageLoanTypeCode
        type: string
      ConcurrentMortgageLoanTypeCodeDesc:
        example: ConcurrentMortgageLoanTypeCodeDesc
        type: string
      ConcurrentMortgageFinancingTypeCode:
        example: ConcurrentMortgageFinancingTypeCode
        type: string
      ConcurrentMortgageFinancingTypeCodeDesc:
        example: ConcurrentMortgageFinancingTypeCodeDesc
        type: string
      ConcurrentMortgageInterestRate:
        example: ConcurrentMortgageInterestRate
        type: string
      ConcurrentMortgageMaturityDate:
        example: ConcurrentMortgageMaturityDate
        type: string
      ConcurrentMortgageImpliedInterestRate:
        example: ConcurrentMortgageImpliedInterestRate
        type: string
      ConcurrentMortgageMortgageTerm:
        example: ConcurrentMortgageMortgageTerm
        type: string
      ConcurrentMortgageRateChangeFrequencyCode:
        example: ConcurrentMortgageRateChangeFrequencyCode
        type: string
      ConcurrentMortgageRateChangeFrequencyCodeDesc:
        example: ConcurrentMortgageRateChangeFrequencyCodeDesc
        type: string
      ConcurrentMortgageChangeIndexLendersMargin:
        example: ConcurrentMortgageChangeIndexLendersMargin
        type: string
      ConcurrentMortgageAdjustableRateIndexCode:
        example: ConcurrentMortgageAdjustableRateIndexCode
        type: string
      ConcurrentMortgageAdjustableRateIndexCodeDesc:
        example: ConcurrentMortgageAdjustableRateIndexCodeDesc
        type: string
      ConcurrentMortgageFirstChangeDateInterestRateNotGreaterThan:
        example: ConcurrentMortgageFirstChangeDateInterestRateNotGreaterThan
        type: string
      ConcurrentMortgageFirstChangeDateInterestNotLessThan:
        example: ConcurrentMortgageFirstChangeDateInterestNotLessThan
        type: string
      ConcurrentMortgageMaximumInterestRate:
        example: ConcurrentMortgageMaximumInterestRate
        type: string
      ConcurrentMortgageFirstChangeDateMMDD:
        example: ConcurrentMortgageFirstChangeDateMMDD
        type: string
      ConcurrentMortgageFirstChangeDateYEAR:
        example: ConcurrentMortgageFirstChangeDateYEAR
        type: string
      ConcurrentMortgageInterestOnlyFlag:
        example: ConcurrentMortgageInterestOnlyFlag
        type: string
      ConcurrentMortgageAdjustableRateRider:
        example: ConcurrentMortgageAdjustableRateRider
        type: string
      ConcurrentMortgagePrepaymentRiderCode:
        example: ConcurrentMortgagePrepaymentRiderCode
        type: string
      ConcurrentMortgagePrepaymentTerm:
        example: ConcurrentMortgagePrepaymentTerm
        type: string
      ConcurrentMortgageFixedStepRateRiderCode:
        example: ConcurrentMortgageFixedStepRateRiderCode
        type: string
      ConcurrentMortgageFixedStepRateRiderCodeDesc:
        example: ConcurrentMortgageFixedStepRateRiderCodeDesc
        type: string
      ConcurrentMortgageBiweeklyPaymentRider:
        example: ConcurrentMortgageBiweeklyPaymentRider
        type: string
      ConcurrentMortgageBalloonRider:
        example: ConcurrentMortgageBalloonRider
        type: string
      ConcurrentMortgageRateImprovementRider:
        example: ConcurrentMortgageRateImprovementRider
        type: string
      ConcurrentMortgageAssumabilityRider:
        example: ConcurrentMortgageAssumabilityRider
        type: string
      SecondLoanAmount:
        example: SecondLoanAmount
        type: string
      CompleteLegalDescriptionCode:
        example: CompleteLegalDescriptionCode
        type: string
      CompleteLegalDescriptionCodeDesc:
        example: CompleteLegalDescriptionCodeDesc
        type: string
      LandOrLotSizeOrAcreageRecorderData:
        example: LandOrLotSizeOrAcreageRecorderData
        type: string
      TimeShareFlag:
        example: TimeShareFlag
        type: string
      TypeofSale:
        example: TypeofSale
        type: string
      AssessmentSalesPrice:
        example: AssessmentSalesPrice
        type: string
      AssessmentSalesPriceCode:
        example: AssessmentSalesPriceCode
        type: string
      AssessmentSalesPriceCodeDesc:
        example: AssessmentSalesPriceCodeDesc
        type: string
      AssessmentSalePriorRecordingDate:
        example: AssessmentSalePriorRecordingDate
        type: string
      AssessmentSalePriorSalesPrice:
        example: AssessmentSalePriorSalesPrice
        type: string
      AssessmentSalePriorSalesPriceCode:
        example: AssessmentSalePriorSalesPriceCode
        type: string
      AssessmentSalePriorSalesPriceCodeDesc:
        example: AssessmentSalePriorSalesPriceCodeDesc
        type: string
      Borrowers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      BorrowerVestingCode:
        example: BorrowerVestingCode
        type: string
      BorrowerVestingCodeDesc:
        example: BorrowerVestingCodeDesc
        type: string
      RecorderBorrowerMailingAddress:
        $ref: '#/definitions/Address'
      BorrowerAddressSourceCode:
        example: BorrowerAddressSourceCode
        type: string
      PurchaseORRefiFlag:
        example: PurchaseORRefiFlag
        type: string
      LenderName:
        example: LenderName
        type: string
      LenderNameID:
        example: LenderNameID
        type: string
      LenderTypeCode:
        example: LenderTypeCode
        type: string
      LenderTypeCodeDesc:
        example: LenderTypeCodeDesc
        type: string
      LenderMailingAddress:
        $ref: '#/definitions/Address'
      LoanAmount:
        example: LoanAmount
        type: string
      LoanType:
        example: LoanType
        type: string
      LoanTypeCodeDesc:
        example: LoanTypeCodeDesc
        type: string
      FinancingTypeCode:
        example: FinancingTypeCode
        type: string
      FinancingTypeCodeDesc:
        example: FinancingTypeCodeDesc
        type: string
      InterestRate:
        example: InterestRate
        type: string
      MaturityDate:
        example: MaturityDate
        type: string
      ImpliedInterestRate:
        example: ImpliedInterestRate
        type: string
      MortgageTerm:
        example: MortgageTerm
        type: string
      LoanTermMonths:
        example: LoanTermMonths
        type: string
      LoanTermYears:
        example: LoanTermYears
        type: string
      RateChangeFrequencyCode:
        example: RateChangeFrequencyCode
        type: string
      RateChangeFrequencyCodeDesc:
        example: RateChangeFrequencyCodeDesc
        type: string
      ChangeIndexLendersMargin:
        example: ChangeIndexLendersMargin
        type: string
      AdjustableRateIndexCode:
        example: AdjustableRateIndexCode
        type: string
      AdjustableRateIndexCodeDesc:
        example: AdjustableRateIndexCodeDesc
        type: string
      FirstChangeDateInterestRateNotGreaterThan:
        example: FirstChangeDateInterestRateNotGreaterThan
        type: string
      FirstChangeDateInterestNotLessThan:
        example: FirstChangeDateInterestNotLessThan
        type: string
      MaximumInterestRate:
        example: MaximumInterestRate
        type: string
      FirstChangeDate:
        example: FirstChangeDate
        type: string
      InterestOnlyPeriod:
        example: InterestOnlyPeriod
        type: string
      AdjustableRateRider:
        example: AdjustableRateRider
        type: string
      PrepaymentRiderCode:
        example: PrepaymentRiderCode
        type: string
      PrepaymentTerm:
        example: PrepaymentTerm
        type: string
      FixedStepRateRiderCode:
        example: FixedStepRateRiderCode
        type: string
      BiweeklyPaymentRider:
        example: BiweeklyPaymentRider
        type: string
      BalloonRider:
        example: BalloonRider
        type: string
      RateImprovementRider:
        example: RateImprovementRider
        type: string
      AssumabilityRider:
        example: AssumabilityRider
        type: string
      PreForeclosurePublishedDate:
        example: PreForeclosurePublishedDate
        type: string
      MultipleLoansInDefaultFlag:
        example: MultipleLoansInDefaultFlag
        type: string
      CaseNumber:
        example: CaseNumber
        type: string
      UnpaidBalance:
        example: UnpaidBalance
        type: string
      TotalDelinquentAmount:
        example: TotalDelinquentAmount
        type: string
      TotalDelinquentDate:
        example: TotalDelinquentDate
        type: string
      InstallmentDueDate:
        example: InstallmentDueDate
        type: string
      Trustors:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      TrusteeSaleNumber:
        example: TrusteeSaleNumber
        type: string
      TrusteeAttyName:
        $ref: '#/definitions/NameDefinition'
      TrusteeAttyMailCareOfName:
        example: TrusteeAttyMailCareOfName
        type: string
      TrusteeAttyAddress:
        $ref: '#/definitions/Address'
      TrusteeAttyTelephoneNumber:
        example: TrusteeAttyTelephoneNumber
        type: string
      TrusteeAttyTelephoneExtOrAltNumber:
        example: TrusteeAttyTelephoneExtOrAltNumber
        type: string
      ContactName:
        $ref: '#/definitions/NameDefinition'
      ContactMailCareOfName:
        example: ContactMailCareOfName
        type: string
      ContactAddress:
        $ref: '#/definitions/Address'
      ContactTelephoneNumber:
        example: ContactTelephoneNumber
        type: string
      ContactTelephoneExtOrAltNumber:
        example: ContactTelephoneExtOrAltNumber
        type: string
      OriginalBeneficiaryLender:
        example: OriginalBeneficiaryLender
        type: string
      OriginalBeneficiaryLenderTypeCode:
        example: OriginalBeneficiaryLenderTypeCode
        type: string
      OriginalBeneficiaryLenderTypeCodeDesc:
        example: OriginalBeneficiaryLenderTypeCodeDesc
        type: string
      CurrentBeneficiaryLender:
        example: CurrentBeneficiaryLender
        type: string
      CurrentBeneficiaryLenderNameID:
        example: CurrentBeneficiaryLenderNameID
        type: string
      CurrentBeneficiaryLenderTypeCode:
        example: CurrentBeneficiaryLenderTypeCode
        type: string
      CurrentBeneficiaryLenderTypeCodeDesc:
        example: CurrentBeneficiaryLenderTypeCodeDesc
        type: string
      OriginalLoanMINNumber:
        example: OriginalLoanMINNumber
        type: string
      OriginalLoanMINValidation:
        example: OriginalLoanMINValidation
        type: string
      OriginalLoanMERSDocumentCode:
        example: OriginalLoanMERSDocumentCode
        type: string
      OriginalLoanLoanNumber:
        example: OriginalLoanLoanNumber
        type: string
      OriginalLoanRecorderDocumentNumber:
        example: OriginalLoanRecorderDocumentNumber
        type: string
      OriginalLoanRecorderBookNumber:
        example: OriginalLoanRecorderBookNumber
        type: string
      OriginalLoanRecorderPageNumber:
        example: OriginalLoanRecorderPageNumber
        type: string
      OriginalLoanLoanAmount:
        example: OriginalLoanLoanAmount
        type: string
      AuctionDate:
        example: AuctionDate
        type: string
      AuctionTime:
        example: AuctionTime
        type: string
      AuctionDateTime:
        example: AuctionDateTime
        type: string
      AuctionPostponedFromDate:
        example: AuctionPostponedFromDate
        type: string
      AuctionPostponedToDate:
        example: AuctionPostponedToDate
        type: string
      AuctionPostponedReasonCode:
        example: AuctionPostponedReasonCode
        type: string
      AuctionPostponedReasonCodeDesc:
        example: AuctionPostponedReasonCodeDesc
        type: string
      AuctionLocation:
        example: AuctionLocation
        type: string
      AuctionCityName:
        example: AuctionCityName
        type: string
      AuctionMinimumBidAmount:
        example: AuctionMinimumBidAmount
        type: string
      AuctionOpenLowBidAmount:
        example: AuctionOpenLowBidAmount
        type: string
      AuctionOpenMidBidAmount:
        example: AuctionOpenMidBidAmount
        type: string
      AuctionOpenHighBidAmount:
        example: AuctionOpenHighBidAmount
        type: string
      AuctionIncrement:
        example: AuctionIncrement
        type: string
      CertOfPurchaseWinningBidAmount:
        example: CertOfPurchaseWinningBidAmount
        type: string
      CertOfPurchasePurchaserLastNameOrCorp:
        example: CertOfPurchasePurchaserLastNameOrCorp
        type: string
      REOIndicator:
        example: REOIndicator
        type: string
      AssignorName:
        example: AssignorName
        type: string
      Assignee:
        example: Assignee
        type: string
      AssigneePool:
        example: AssigneePool
        type: string
      AssignmentEffectiveDate:
        example: AssignmentEffectiveDate
        type: string
      MERSIndicator:
        example: MERSIndicator
        type: string
      ReleaseEffectiveDate:
        example: ReleaseEffectiveDate
        type: string
      MortgagePayOffDate:
        example: MortgagePayOffDate
        type: string
      MultiplePageImage:
        example: MultiplePageImage
        type: string
      CurrentLender:
        example: CurrentLender
        type: string
      CurrentLenderPoolNumber:
        example: CurrentLenderPoolNumber
        type: string
      BorrowerMailingAddress:
        $ref: '#/definitions/Address'
  LoanTransaction:
    type: object
    properties:
      Description:
        example: Description
        type: string
      Code:
        example: Code
        type: string
      Value:
        example: Value
        type: string
  ComparableSale:
    type: object
    properties:
      Distance:
        example: Distance
        type: string
      Latitude:
        example: Latitude
        type: string
      Longitude:
        example: Longitude
        type: string
      APN:
        example: APN
        type: string
      Address:
        $ref: '#/definitions/Address'
      DocumentNumber:
        example: DocumentNumber
        type: string
      Book:
        example: Book
        type: string
      Page:
        example: Page
        type: string
      DocumentType:
        example: DocumentType
        type: string
      DocumentTypeDesc:
        example: DocumentTypeDesc
        type: string
      ContractDate:
        example: ContractDate
        type: string
      RecordingDate:
        example: RecordingDate
        type: string
      SalesPrice:
        example: SalesPrice
        type: string
      SalesPriceCode:
        example: SalesPriceCode
        type: string
      SalesPriceCodeDesc:
        example: SalesPriceCodeDesc
        type: string
      SalesPriceTypeDesc:
        example: SalesPriceTypeDesc
        type: string
      PricePerSQFT:
        example: PricePerSQFT
        type: string
      LotNumber:
        example: LotNumber
        type: string
      LegalBriefDescription:
        example: LegalBriefDescription
        type: string
      LotCodeDesc:
        example: LotCodeDesc
        type: string
      LegalDistrict:
        example: LegalDistrict
        type: string
      LegalLandLot:
        example: LegalLandLot
        type: string
      Unit:
        example: Unit
        type: string
      LegalCityMuniTownship:
        example: LegalCityMuniTownship
        type: string
      Subdivision:
        example: Subdivision
        type: string
      PhaseNumber:
        example: PhaseNumber
        type: string
      TractNumber:
        example: TractNumber
        type: string
      LegalBlockNumber:
        example: LegalBlockNumber
        type: string
      Section:
        example: Section
        type: string
      MapRef:
        example: MapRef
        type: string
      Buyers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      Sellers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      LandUseAssessorCode:
        example: LandUseAssessorCode
        type: string
      LandUseAssessorDesc:
        example: LandUseAssessorDesc
        type: string
      LandUseStandardizedCode:
        example: LandUseStandardizedCode
        type: string
      LandUseStandardizedDesc:
        example: LandUseStandardizedDesc
        type: string
      LandUseStateDesc:
        example: LandUseStateDesc
        type: string
      ZoningAssessorDescription:
        example: ZoningAssessorDescription
        type: string
      RoomsTotalCount:
        example: RoomsTotalCount
        type: string
      BedroomCount:
        example: BedroomCount
        type: string
      BathsPartialCount:
        example: BathsPartialCount
        type: string
      BathsPlumbingFixturesCount:
        example: BathsPlumbingFixturesCount
        type: string
      BathsTotalCount:
        example: BathsTotalCount
        type: string
      BuildingAreaTotal:
        example: BuildingAreaTotal
        type: string
      LotSizeAcres:
        example: LotSizeAcres
        type: string
      LotSizeOrArea:
        example: LotSizeOrArea
        type: string
      LotSize:
        example: LotSize
        type: string
      LotSizeUnits:
        example: LotSizeUnits
        type: string
      ConstructionTypeCode:
        example: ConstructionTypeCode
        type: string
      ConstructionTypeDesc:
        example: ConstructionTypeDesc
        type: string
      FoundationTypeCode:
        example: FoundationTypeCode
        type: string
      FoundationTypeDesc:
        example: FoundationTypeDesc
        type: string
      ExteriorWallTypeCode:
        example: ExteriorWallTypeCode
        type: string
      ExteriorWallTypeDesc:
        example: ExteriorWallTypeDesc
        type: string
      InteriorWallTypeCode:
        example: InteriorWallTypeCode
        type: string
      InteriorWallTypeDesc:
        example: InteriorWallTypeDesc
        type: string
      FloorCoverTypeCode:
        example: FloorCoverTypeCode
        type: string
      FloorCoverTypeDesc:
        example: FloorCoverTypeDesc
        type: string
      StoryCountCode:
        example: StoryCountCode
        type: string
      StoryCountDesc:
        example: StoryCountDesc
        type: string
      YearBuiltActual:
        example: YearBuiltActual
        type: string
      YearBuiltEffective:
        example: YearBuiltEffective
        type: string
      AirConditioningMethodCode:
        example: AirConditioningMethodCode
        type: string
      AirConditioningMethodDesc:
        example: AirConditioningMethodDesc
        type: string
      AirConditioningTypeCode:
        example: AirConditioningTypeCode
        type: string
      AirConditioningTypeDesc:
        example: AirConditioningTypeDesc
        type: string
      HeatingTypeCode:
        example: HeatingTypeCode
        type: string
      HeatingTypeDesc:
        example: HeatingTypeDesc
        type: string
      HeatingFuelTypeCode:
        example: HeatingFuelTypeCode
        type: string
      HeatingFuelTypeDesc:
        example: HeatingFuelTypeDesc
        type: string
      BasementCode:
        example: BasementCode
        type: string
      BasementDesc:
        example: BasementDesc
        type: string
      Elevator:
        example: Elevator
        type: string
      Fireplace:
        example: Fireplace
        type: string
      PoolTypeCode:
        example: PoolTypeCode
        type: string
      PoolTypeDesc:
        example: PoolTypeDesc
        type: string
      RoofMaterialCode:
        example: RoofMaterialCode
        type: string
      RoofMaterialDesc:
        example: RoofMaterialDesc
        type: string
      RoofStructureTypeCode:
        example: RoofStructureTypeCode
        type: string
      RoofStructureTypeDesc:
        example: RoofStructureTypeDesc
        type: string
      GarageParkingNumberofCars:
        example: GarageParkingNumberofCars
        type: string
      GarageTypeCode:
        example: GarageTypeCode
        type: string
      GarageTypeDesc:
        example: GarageTypeDesc
        type: string
      REOFlag:
        example: REOFlag
        type: string
      TargetDate:
        example: TargetDate
        type: string
      LenderName:
        example: LenderName
        type: string
      Loan2Amount:
        example: Loan2Amount
        type: string
      DeedTransactionType:
        example: DeedTransactionType
        type: string
      DeedTransactionTypeDesc:
        example: DeedTransactionTypeDesc
        type: string
      NonArmsLengthTransCount:
        example: NonArmsLengthTransCount
        type: string
      NumberOfTimesSold:
        example: NumberOfTimesSold
        type: string
      REOMultiFlag:
        example: REOMultiFlag
        type: string
      AssessedLandValue:
        example: AssessedLandValue
        type: string
      AssessedImprovedValue:
        example: AssessedImprovedValue
        type: string
      AssessedTotalValue:
        example: AssessedTotalValue
        type: string
      AssessmentYear:
        example: AssessmentYear
        type: string
      MarketLandValue:
        example: MarketLandValue
        type: string
      MarketImprovedValue:
        example: MarketImprovedValue
        type: string
      MarketTotalValue:
        example: MarketTotalValue
        type: string
      AssessorMarketYear:
        example: AssessorMarketYear
        type: string
      Loan1Amount:
        example: Loan1Amount
        type: string
      SecTwpRngMer:
        example: SecTwpRngMer
        type: string
      PriorSale1Buyers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      PriorSale1Sellers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      PriorSale1TypeOfSale:
        example: PriorSale1TypeOfSale
        type: string
      PriorSale1TypeOfSaleDesc:
        example: PriorSale1TypeOfSaleDesc
        type: string
      PriorSale1DocumentType:
        example: PriorSale1DocumentType
        type: string
      PriorSale1DocumentNumber:
        example: PriorSale1DocumentNumber
        type: string
      PriorSale1Book:
        example: PriorSale1Book
        type: string
      PriorSale1Page:
        example: PriorSale1Page
        type: string
      PriorSale1ContractDate:
        example: PriorSale1ContractDate
        type: string
      PriorSale1RecordingDate:
        example: PriorSale1RecordingDate
        type: string
      PriorSale1Price:
        example: PriorSale1Price
        type: string
      PriorSale1PriceCode:
        example: PriorSale1PriceCode
        type: string
      PriorSale1PriceCodeDesc:
        example: PriorSale1PriceCodeDesc
        type: string
      PriorSale2Buyers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      PriorSale2Sellers:
        type: array
        items:
          $ref: '#/definitions/EntityInfo'
      PriorSale2TypeOfSale:
        example: PriorSale2TypeOfSale
        type: string
      PriorSale2TypeOfSaleDesc:
        example: PriorSale2TypeOfSaleDesc
        type: string
      PriorSale2DocumentType:
        example: PriorSale2DocumentType
        type: string
      PriorSale2DocumentNumber:
        example: PriorSale2DocumentNumber
        type: string
      PriorSale2Book:
        example: PriorSale2Book
        type: string
      PriorSale2Page:
        example: PriorSale2Page
        type: string
      PriorSale2ContractDate:
        example: PriorSale2ContractDate
        type: string
      PriorSale2RecordingDate:
        example: PriorSale2RecordingDate
        type: string
      PriorSale2Price:
        example: PriorSale2Price
        type: string
      PriorSale2PriceCode:
        example: PriorSale2PriceCode
        type: string
      PriorSale2PriceCodeDesc:
        example: PriorSale2PriceCodeDesc
        type: string
      ActiveDefault:
        $ref: '#/definitions/ActiveDefault'
  AVMInformation:
    type: object
    properties:
      AVMType:
        example: AVMType
        type: string
      AVMLow:
        example: AVMLow
        type: string
      ConfiAVMHigh:
        example: ConfiAVMHigh
        type: string
      AVMValue:
        example: AVMValue
        type: string
      AVMConfidenceDescr:
        example: AVMConfidenceDescr
        type: string
      AVMConfScore:
        example: AVMConfScore
        type: string
      AVMFSD:
        example: AVMFSD
        type: string
  PropertyValueRange:
    type: object
    properties:
      EstimatedRangeMin:
        example: EstimatedRangeMin
        type: string
      EstimatedRangeMax:
        example: EstimatedRangeMax
        type: string
      ConfidenceScore:
        example: ConfidenceScore
        type: string
      ConfidenceLevel:
        example: ConfidenceLevel
        type: string
      NeighborhoodAverage:
        example: NeighborhoodAverage
        type: string
      NeighborhoodMin:
        example: NeighborhoodMin
        type: string
      NeighborhoodMax:
        example: NeighborhoodMax
        type: string
  ActiveDefault:
    type: object
    properties:
      IsActiveDefault:
        example: IsActiveDefault
        type: string
      LatestStatus:
        example: LatestStatus
        type: string
      RecordingDate:
        example: RecordingDate
        type: string
  ActiveForeclosureByZip:
    type: object
    properties:
      MonthYear:
        example: MonthYear
        type: string
      ActiveForeclosures:
        type: array
        items:
          $ref: '#/definitions/ActiveForeclosure'
  ActiveForeclosure:
    type: object
    properties:
      ForeclosureType:
        example: ForeclosureType
        type: string
      Count:
        example: Count
        type: string
  HOAServiceResponseDefinition:
    properties:
      TransactionID:
        example: 82d9762b-70c3-4801-bd4b-8ffc8d358f77
        type: string
        description: TransactionID can be used to fetch data at later stage.
      RequestorID:
        example: RequestorID
        type: string
        minLength: 1
        maxLength: 100
        description: LoanNumber or TransactionID
      HoaInfo:
        $ref: '#/definitions/HoaInfoDefinition'
  HoaInfoDefinition:
    properties:
      Name:
        example: Name
        type: string
      HoaType:
        example: Hoatype
        type: string
      City:
        example: City
        type: string
      Amount:
        example: Amount
        type: string
      MinAmount:
        example: MinAmount
        type: string
      MaxAmount:
        example: MaxAmount
        type: string
      FeeFrequency:
        example: FeeFrequency
        type: string
      FeeType:
        example: FeeType
        type: string
      Contacts:
        $ref: '#/definitions/Contact'
  Contact:
    properties:
      ContactType:
        example: ContactType
        type: string
      ContactName:
        example: ContactName
        type: string
      Address:
        $ref: '#/definitions/Address'
      Phone:
        $ref: '#/definitions/Phone'
  Phone:
    properties:
      PhoneType:
        example: PhoneType
        type: string
      PhoneNumber:
        example: PhoneNumber
        type: string
  FEMAServiceResponse:
    type: object
    properties:
      TransactionID:
        type: string
        description: Unique identifier for the transaction
      RequestorID:
        type: string
      Address:
        $ref: '#/definitions/Address'
      Result:
        type: string
        enum:
        - NoDisastersFound
        - DisastersFound
      Disasters:
        type: array
        items:
          $ref: '#/definitions/FEMADisasterRecord'
      Alerts:
        type: array
        items:
          $ref: '#/definitions/AlertType'
  FEMADisasterRecord:
    properties:
      DisasterNumber:
        type: number
      IHProgramDeclared:
        type: boolean
      IAProgramDeclared:
        type: boolean
      PAProgramDeclared:
        type: boolean
      HMProgramDeclared:
        type: boolean
      State:
        type: string
      DeclarationDate:
        $ref: '#/definitions/ParsedDate'
      DisasterType:
        type: string
      IncidentType:
        type: string
      Title:
        type: string
      IncidentBeginDate:
        $ref: '#/definitions/ParsedDate'
      IncidentEndDate:
        $ref: '#/definitions/ParsedDate'
      DisasterCloseOutDate:
        type: string
      PlaceCode:
        type: number
      DeclaredCountyArea:
        type: string
    example:
      DisasterNumber: 217
      IHProgramDeclared: false
      IAProgramDeclared: true
      PAProgramDeclared: true
      HMProgramDeclared: false
      State: State
      DeclarationDate:
        Year: 1966
        Month: 4
        Day: 30
      DisasterType: DisasterType
      IncidentType: IncidentType
      Title: Title
      IncidentBeginDate:
        Year: 1966
        Month: 4
        Day: 30
      IncidentEndDate:
        Year: 1966
        Month: 4
        Day: 30
      DisasterCloseOutDate:
        Year: 1968
        Month: 5
        Day: 23
      PlaceCode: 99013
      DeclaredCountyArea: DeclaredCountyArea
  ParsedDate:
    properties:
      Year:
        type: number
      Month:
        type: number
      Day:
        type: number
    example:
      Month: 1
      Year: 2017
      Day: 1
  AlertType:
    type: object
    properties:
      Code:
        example: AlertCode
        type: string
      Description:
        example: ALERT - This is an alert description.
        type: string
      Status:
        example: Fired
        type: string
      Evidence:
        description: Collection of evidence fields that caused the alert to fire.
        type: array
        items:
          $ref: '#/definitions/EvidenceType'
  EvidenceType:
    type: object
    example:
      Key: Value
  AnalyticsInputType:
    type: object
    example:
      Key: Value
