openapi: 3.2.0
info:
  description: ''
  version: v1
  title: Get NMLS data by NMLS ID API
servers:
- url: https://api-w2.firstam.io/v1
tags:
- name: Get NMLS data by NMLS ID
paths:
  /nmls/lookup:
    get:
      tags:
      - Get NMLS data by NMLS ID
      summary: Retrieve NMLS data by NMLS ID
      description: Add a NMLS ID to the query string to retrieve NMLS data. Optional alert analytics can be performed by appending '&includeanalytics=true' to the query string.
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: nmlsid
        in: query
        description: NMLS ID
        required: true
        schema:
          type: string
          default: 857740
      - in: query
        name: includeanalytics
        description: Analytics Flag
        required: false
        schema:
          type: string
          default: 'false'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    post:
      tags:
      - Get NMLS data by NMLS ID
      summary: Retrieve NMLS data by NMLS ID with added parameters for alert analytics
      description: Add a NMLS ID to the query string and add additional parameters in the request body for alert analytics. Must set "IncludeAnalytics" flag to true in the request body.
      operationId: post
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: nmlsid
        in: query
        description: NMLS ID
        required: true
        schema:
          type: string
          default: 857740
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        description: Request for NMLS
        required: true
  /nmls/lookup/company:
    get:
      tags:
      - Get NMLS data by NMLS ID
      summary: Retrieve company NMLS data by NMLS ID
      description: Add a NMLS ID to the query string to retrieve NMLS data for a company. Optional alert analytics can be performed by appending '&includeanalytics=true' to the query string.
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: nmlsid
        in: query
        description: Company NMLS ID
        required: true
        schema:
          type: string
          default: 275189
      - in: query
        name: includeanalytics
        description: Analytics Flag
        required: false
        schema:
          type: string
          default: 'false'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    post:
      tags:
      - Get NMLS data by NMLS ID
      summary: Retrieve NMLS company data by NMLS ID with added parameters for alert analytics
      description: Add a NMLS ID to the query string and add additional parameters in the request body for alert analytics. Must set "IncludeAnalytics" flag to true in the request body.
      operationId: post
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: nmlsid
        in: query
        description: NMLS ID
        required: true
        schema:
          type: string
          default: 275189
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        description: Request for NMLS
        required: true
  /nmls/lookup/individual:
    get:
      tags:
      - Get NMLS data by NMLS ID
      summary: Retrieve individual NMLS data by NMLS ID
      description: Add a NMLS ID to the query string to retrieve NMLS data for an individual. Optional alert analytics can be performed by appending '&includeanalytics=true' to the query string.
      operationId: get
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: nmlsid
        in: query
        description: Individual NMLS ID
        required: true
        schema:
          type: string
          default: 1559549
      - in: query
        name: includeanalytics
        description: Analytics Flag
        required: false
        schema:
          type: string
          default: 'false'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndividualResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/IndividualResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
    post:
      tags:
      - Get NMLS data by NMLS ID
      summary: Retrieve NMLS individual data by NMLS ID with added parameters for alert…
      description: Add a NMLS ID to the query string and add additional parameters in the request body for alert analytics. Must set "IncludeAnalytics" flag to true in the request body.
      operationId: post
      parameters:
      - in: header
        name: x-app-id
        description: Application ID
        required: true
        schema:
          type: string
      - in: header
        name: x-app-key
        description: Application Key
        required: true
        schema:
          type: string
      - name: nmlsid
        in: query
        description: NMLS ID
        required: true
        schema:
          type: string
          default: 857740
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
        '400':
          description: Bad Request (Missing/Invalid NMLS ID)
        '401':
          description: Invalid App ID or Key
        '404':
          description: Not Found (No NMLS Data Found by NMLS ID)
        '500':
          description: Internal Server Error
        '503':
          description: Usage Limit Exceeded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
        description: Request for NMLS
        required: true
components:
  schemas:
    Address:
      type: object
      properties:
        APN:
          type: string
        Longitude:
          type: string
        Latitude:
          type: string
        StateCityZip:
          type: string
        PostalCode:
          type: string
        Country:
          type: string
        County:
          type: string
        ZipFour:
          type: string
        ZipCode:
          type: string
        Hash:
          type: string
        State:
          type: string
        StreetAddress2:
          type: string
        StreetAddress1:
          type: string
        UnitNumber:
          type: string
        UnitDesignation:
          type: string
        StreetPostDirection:
          type: string
        StreetSuffix:
          type: string
        StreetName:
          type: string
        StreetPreDirection:
          type: string
        StreetNumber:
          type: string
        City:
          type: string
        FullAddress:
          type: string
    BranchManager:
      type: object
      properties:
        NMLSID:
          type: integer
        Name:
          type: string
        Industry:
          type: string
        States:
          type: array
          items:
            type: string
    Sponsor:
      type: object
      properties:
        NMLSID:
          type: string
        Name:
          type: string
        Regulator:
          type: string
        RegulatorStateCode:
          type: string
        LicenseType:
          type: string
        StartDate:
          type: string
        EndDate:
          type: string
    IndividualResponse:
      type: object
      properties:
        Name:
          $ref: '#/components/schemas/Name'
        IndividualAgencyRegistrations:
          type: array
          items:
            $ref: '#/components/schemas/IndividualAgencyRegistration'
        DisciplinaryActions:
          type: array
          items:
            $ref: '#/components/schemas/IndividualDisciplinaryActions'
        Licenses:
          type: array
          items:
            $ref: '#/components/schemas/NMLSIndividualLicense'
        Locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        OtherNames:
          type: array
          items:
            $ref: '#/components/schemas/NMLSName'
        IndividualRegistration:
          $ref: '#/components/schemas/IndividualRegistration'
        IndividualRegistrationDetails:
          type: array
          items:
            $ref: '#/components/schemas/IndividualRegistrationDetail'
        RegulatoryActions:
          type: array
          items:
            $ref: '#/components/schemas/RegulatoryAction'
    IndividualRegistrationDetail:
      type: object
      properties:
        EmployerName:
          type: string
        InstitutionName:
          type: string
        InstitutionNMLSID:
          type: integer
        PrimaryFederalRegulator:
          type: string
        StartDate:
          type: string
        EndDate:
          type: string
    NMLSIndividualLicense:
      type: object
      properties:
        License:
          $ref: '#/components/schemas/License'
        Sponsorships:
          type: array
          items:
            $ref: '#/components/schemas/Sponsor'
    NMLSName:
      type: object
      properties:
        NameType:
          type: string
        Name:
          $ref: '#/components/schemas/Name'
    LicenseHistory:
      type: object
      properties:
        StartDate:
          type: string
        EndDate:
          type: string
        IsAuthorized:
          type: boolean
    IndividualAgencyRegistration:
      type: object
      properties:
        PrimaryFederalRegulator:
          type: string
        Status:
          type: string
        StatusDate:
          type: string
        RegistrationHistory:
          type: array
          items:
            $ref: '#/components/schemas/IndividualAgencyRegistrationHistory'
    Location:
      type: object
      properties:
        CompanyName:
          type: string
        LocationNMLSID:
          type: string
        LocationType:
          type: string
        Street:
          type: string
        StartDate:
          type: string
        Address:
          $ref: '#/components/schemas/Address'
    OtherTradeName:
      type: object
      properties:
        Regulator:
          type: string
        Name:
          type: string
        NameType:
          type: string
    License:
      type: object
      properties:
        Regulator:
          type: string
        RegulatorStateCode:
          type: string
        LicenseNumber:
          type: string
        LicenseType:
          type: string
        IssueDate:
          type: string
        Status:
          type: string
        StatusDate:
          type: string
        IsAuthorizedToConductBusiness:
          type: boolean
        RenewedThrough:
          type: string
        IsLatest:
          type: boolean
        LicenseHistory:
          type: array
          items:
            $ref: '#/components/schemas/LicenseHistory'
    Name:
      type: object
      properties:
        Full:
          type: string
        First:
          type: string
        Middle:
          type: string
        Last:
          type: string
        Suffix:
          type: string
        Prefix:
          type: string
        LastOrCompanyName:
          type: string
        FirstAndMiddleName:
          type: string
    IndividualDisciplinaryActions:
      type: object
      properties:
        AuthorityType:
          type: string
        ActionType:
          type: string
        DateOfAction:
          type: string
        NameOfAuthority:
          type: string
        DisciplinaryActionDetail:
          type: string
        AssociatedDocumentURL:
          type: string
    RegulatoryAction:
      type: object
      properties:
        EntityType:
          type: string
        Regulator:
          type: string
        ActionType:
          type: string
        DateOfAction:
          type: string
        MultiStateActionID:
          type: string
        DocketNumber:
          type: string
        AssociatedDocumentURL:
          type: string
    ServiceRequest:
      type: object
      properties:
        Name:
          $ref: '#/components/schemas/Name'
        Address:
          $ref: '#/components/schemas/Address'
        NMLSID:
          type: integer
        ConfidenceScore:
          type: integer
        IncludeAnalytics:
          type: boolean
      example:
        RequestorID: ID123
        IncludeAnalytics: false
        NMLSID: 349974
        Name:
          First: John
          Middle: Travis
          LastOrCompanyName: Harrison
        Address:
          State: CO
        ConfidenceScore: 90
    IndividualAgencyRegistrationHistory:
      type: object
      properties:
        PrimaryFederalRegulator:
          type: string
        StartDate:
          type: string
        EndDate:
          type: string
        IsAuthorized:
          type: boolean
    CompanyResponse:
      type: object
      properties:
        Name:
          type: string
        Address:
          $ref: '#/components/schemas/Address'
        DBAs:
          type: array
          items:
            type: string
        ParentCompanyNMLSID:
          type: integer
        IsAuthorizedToConductBusiness:
          type: boolean
        BranchManager:
          type: array
          items:
            $ref: '#/components/schemas/BranchManager'
        NMLSID:
          type: integer
        EntityType:
          type: string
        IsFederallyRegulated:
          type: boolean
        PrimaryFederalRegulator:
          type: string
        RegistrationStatus:
          type: string
        BusinessStructure:
          type: string
        FiscalYearEnd:
          type: string
        FormedIn:
          type: string
        DateFormed:
          type: string
        StockSymbol:
          type: string
        SponsoredMLOCount:
          type: integer
        RegisteredMLOCount:
          type: string
        Licenses:
          type: array
          items:
            $ref: '#/components/schemas/License'
        OtherNames:
          type: array
          items:
            $ref: '#/components/schemas/OtherTradeName'
        CompanyWebsites:
          type: array
          items:
            type: string
        RegulatoryActions:
          type: array
          items:
            $ref: '#/components/schemas/RegulatoryAction'
    IndividualRegistration:
      type: object
      properties:
        RegistrationName:
          type: string
        RegistrationStatus:
          type: string
        IsAuthorizedToConductBusiness:
          type: boolean
    ServiceResponse:
      type: object
      properties:
        Company:
          $ref: '#/components/schemas/CompanyResponse'
        Individual:
          $ref: '#/components/schemas/IndividualResponse'
